- var copyright = `${new Date().getFullYear()} ${themeTitle}`

footer#footer.footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.px-4.my-4.border-top
  .col-md-4.d-flex.align-items-center
    | &copy;
    = copyright

  ul.nav.col-md-4.justify-content-end.list-unstyled.d-flex
    li.ms-3
      a(href='#')
        i.bi.bi-twitter(role='link' aria-label='Twitter')
    li.ms-3
      a(href='#')
        i.bi.bi-instagram(role='link' aria-label='Instagram')
    li.ms-3
      a(href='#')
        i.bi.bi-facebook(role='link' aria-label='Facebook')
