block js
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js' crossorigin='anonymous')

  script(src='js/frontsteps.min.js')

  // Javascript for theme demo
  script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js' crossorigin='anonymous')
  script(src='js/doc.min.js')

block scripts
  script.
    hljs.highlightAll()
