aside#sidebar.sidebar.py-3
  ul.menu
    li.nav-item
      a.sidebar-link(href='index.html')
        i.icon.bi.bi-house-door(role='link' aria-label='Dashboard')
        span.title Dashboard

    li.nav-item.dropdown
      a.dropdown-toggle(href='javascript:void(0);')
        i.icon.bi.bi-border-center(role='button' aria-label='Layouts')
        span.title Layouts
      ul.dropdown-menu
        li
          a.sidebar-link(href='layout-1column.html') 1 Column Layout
        li
          a.sidebar-link(href='layout-2column.html') 2 Column Layout
        li
          a.sidebar-link(href='layout-3column.html') 3 Column Layout

    li.nav-item.dropdown
      a.dropdown-toggle(href='javascript:void(0);')
        i.icon.bi.bi-diagram-3(role='button' aria-label='Content')
        span.title Content
      ul.dropdown-menu
        li
          a.sidebar-link(href='content-action_group.html') Action Group
        li
          a.sidebar-link(href='content-flash.html') Flash
        li
          a.sidebar-link(href='content-form_switch.html') Form Switch
        li
          a.sidebar-link(href='content-striped_column.html') Striped Column
        li
          a.sidebar-link(href='content-switcher.html') Color Switcher
        li
          a.sidebar-link(href='content-data_list.html') Data List

    li.nav-item.dropdown
      a.dropdown-toggle(href='javascript:void(0);')
        i.icon.bi.bi-input-cursor-text(role='button' aria-label='Forms')
        span.title Forms
      ul.dropdown-menu
        li
          a.sidebar-link(href='form-control.html') Form control
        li
          a.sidebar-link(href='form-select.html') Select
        li
          a.sidebar-link(href='form-checks_radio.html') Checks &amp; radios
        li
          a.sidebar-link(href='form-range.html') Range
        li
          a.sidebar-link(href='form-input_group.html') Input group
        li
          a.sidebar-link(href='form-floating_label.html') Floating labels
        li
          a.sidebar-link(href='form-layout.html') Layout
        li
          a.sidebar-link(href='form-validation.html') Validation

    li.nav-item.dropdown
      a.dropdown-toggle(href='javascript:void(0);')
        i.icon.bi.bi-body-text(role='button' aria-label='Pages')
        span.title Pages
      ul.dropdown-menu
        li
          a.sidebar-link(href='page-login.html') Login
        li
          a.sidebar-link(href='page-register.html') Register
        li
          a.sidebar-link(href='page-error404.html') Error 404
        li
          a.sidebar-link(href='page-error500.html') Error 500
        li
          a.sidebar-link(href='page-tables.html') Tables

    li.nav-item.dropdown
      a.dropdown-toggle(href='javascript:void(0);')
        i.icon.bi.bi-archive(role='button' aria-label='Components')
        span.title Components
      ul.dropdown-menu
        li
          a.sidebar-link(href='component-accordion.html') Accordion
        li
          a.sidebar-link(href='component-alerts.html') Alerts
        li
          a.sidebar-link(href='component-badge.html') Badge
        li
          a.sidebar-link(href='component-breadcrumb.html') Breadcrumb
        li
          a.sidebar-link(href='component-buttons.html') Buttons
        li
          a.sidebar-link(href='component-button_group.html') Button Group
        li
          a.sidebar-link(href='component-card.html') Card
        li
          a.sidebar-link(href='component-carousel.html') Carousel
        li
          a.sidebar-link(href='component-close_button.html') Close Button
        li
          a.sidebar-link(href='component-collapse.html') Collapse
        li
          a.sidebar-link(href='component-dropdowns.html') Dropdowns
        li
          a.sidebar-link(href='component-list_group.html') List Group
        li
          a.sidebar-link(href='component-modal.html') Modal
        li
          a.sidebar-link(href='component-navbar.html') Navbar
        li
          a.sidebar-link(href='component-navs_and_tabs.html') Navs &amp; tabs
        li
          a.sidebar-link(href='component-offcanvas.html') Offcanvas
        li
          a.sidebar-link(href='component-pagination.html') Pagination
        li
          a.sidebar-link(href='component-placeholders.html') Placeholders
        li
          a.sidebar-link(href='component-popovers.html') Popovers
        li
          a.sidebar-link(href='component-progress.html') Progress
        li
          a.sidebar-link(href='component-scrollspy.html') Scrollspy
        li
          a.sidebar-link(href='component-spinners.html') Spinners
        li
          a.sidebar-link(href='component-toasts.html') Toasts
        li
          a.sidebar-link(href='component-tooltips.html') Tooltips

    li.nav-item.dropdown
      a.dropdown-toggle(href='javascript:void(0);')
        i.icon.bi.bi-layers-half(role='button' aria-label='Multiple Levels')
        span.title Multiple Levels
      ul.dropdown-menu
        li.nav-item.dropdown
          a(href='javascript:void(0);')
            span Menu Item 1
        li.nav-item.dropdown
          a.dropdown-toggle(href='javascript:void(0);')
            span Menu Item 2
          ul.dropdown-menu
            li
              a.sidebar-link(href='javascript:void(0);') Menu Item 2-1
            li
              a.sidebar-link(href='javascript:void(0);') Menu Item 2-2
            //- li
            //-   a.sidebar-link(href='component-buttons.html') Buttons
