a {
  text-decoration: var(--link-text-decoration);
  transition: $fs-link-transition;

  &:hover,
  &:focus {
    text-decoration: var(--link-hover-text-decoration);
  }
}

a:not(.btn) {
  color: var(--link-color);

  &:hover,
  &:focus {
    color: var(--link-hover-color);
  }
}
