#sidebar.sidebar {
  .dropdown-menu {
    font-size: $fs-sidebar-text-size;

    a {
      font-weight: 500;
      text-transform: inherit;
    }
  }

  .menu {
    position: relative;

    // Arrow
    .dropdown-toggle::after {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: rotate(-90deg);
      transition: $fs-sidebar-chevron-transition;
    }

    // All item levels
    li {
      position: relative;

      &.dropdown {
        &.open {
          // Arrow expanded
          > .dropdown-toggle::after {
            transform: rotate(0);
          }

          // Dropdown menu
          > .dropdown-menu {
            display: none;
          }
        }
      }
    }

    // Top level item
    > li {
      &.dropdown {
        // Level 2+
        ul {
          &.dropdown-menu {
            background-color: transparent;
            border: 0;
            border-radius: 0;
            box-shadow: none;
            position: relative;
            width: 100%;

            > li {
              > a {
                display: block;
                padding-left: 65px;
              }

              &.dropdown {
                // Level 3+
                ul {
                  &.dropdown-menu {
                    > li {
                      > a {
                        padding-left: 80px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  #sidebar.sidebar {
    .menu {
      overflow-x: hidden;

      // Top level item
      > li {
        > a {
          .title {
            display: none;
          }
        }
      }

      li {
        &.dropdown {
          // Arrow hidden when sidebar collapsed
          > .dropdown-toggle::after {
            opacity: 0;
          }

          &.open {
            ul.dropdown-menu {
              /* stylelint-disable-next-line declaration-no-important */
              display: none !important;
            }
          }
        }
      }
    }

    &:hover {
      .menu {
        > li {
          > a {
            .title {
              display: inline-block;
            }
          }
        }

        li {
          &.dropdown {
            // Arrow shown when collapsed sidebar expanded
            > .dropdown-toggle::after {
              opacity: 1;
            }
          }

          &.open {
            > ul.dropdown-menu {
              /* stylelint-disable-next-line declaration-no-important */
              display: block !important;
            }
          }
        }
      }
    }
  }
}
