extends ../layouts/2col.pug

block append config
  - var pageTitle = "Offcanvas";
  - var pageSubtitle = "Hidden sidebars for navigation, shopping carts, and more with a few classes and Javascript";
  - var skipMenu = true;

block content
  .card
    .card-body
      h4 How it works
      p Offcanvas is a sidebar component that can be toggled via JavaScript to appear from the left, right, top, or bottom edge of the viewport. Buttons or anchors are used as triggers that are attached to specific elements you toggle, and <code>data</code> attributes are used to invoke our JavaScript.
      ul
        li Offcanvas shares some of the same JavaScript code as modals. Conceptually, they are quite similar, but they are separate plugins.
        li Similarly, some source Sass variables for offcanvas's styles and dimensions are inherited from the modal's variables.
        li When shown, offcanvas includes a default backdrop that can be clicked to hide the offcanvas.
        li Similar to modals, only one offcanvas can be shown at a time.
      p <strong>Heads up!</strong> Given how CSS handles animations, you cannot use <code>margin</code> or <code>translate</code> on an <code>.offcanvas</code> element. Instead, use the class as an independent wrapping element.

      h4 Examples
      h4 Live demo
      p Use the buttons below to show and hide an offcanvas element via JavaScript that toggles the <code>.show</code> class on an element with the <code>.offcanvas</code> class.

      ul
        li <code>.offcanvas</code> hides content (default)
        li <code>.offcanvas.show</code> shows content

      p You can use a link with the href attribute, or a button with the <code>data-bs-target</code> attribute. In both cases, the <code>data-bs-toggle="offcanvas"</code> is required.

      .bd-example
        a.btn.btn-primary(data-bs-toggle='offcanvas' href='#offcanvasExample' role='button' aria-controls='offcanvasExample')
          | Link with href
        button.btn.btn-primary(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasExample' aria-controls='offcanvasExample')
          | Button with data-bs-target
        #offcanvasExample.offcanvas.offcanvas-start(tabindex='-1' aria-labelledby='offcanvasExampleLabel')
          .offcanvas-header
            h5#offcanvasExampleLabel.offcanvas-title Offcanvas
            button.btn-close(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
          .offcanvas-body
            div
              | Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
            .dropdown.mt-3
              button.btn.btn-secondary.dropdown-toggle(type='button' data-bs-toggle='dropdown')
                | Dropdown button
              ul.dropdown-menu
                li
                  a.dropdown-item(href='#') Action
                li
                  a.dropdown-item(href='#') Another action
                li
                  a.dropdown-item(href='#') Something else here

      pre
        code.language-html
          | &lt;a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"&gt;
          |   Link with href
          | &lt;/a&gt;
          | &lt;button class="btn btn-primary" type='button' data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"&gt;
          |   Button with data-bs-target
          | &lt;/button&gt;
          |
          | &lt;div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel"&gt;
          |   &lt;div class="offcanvas-header"&gt;
          |     &lt;h5 class="offcanvas-title" id="offcanvasExampleLabel"&gt;Offcanvas&lt;/h5&gt;
          |     &lt;button type='button' class="btn-close" data-bs-dismiss="offcanvas" aria-label='Close'&gt;&lt;/button&gt;
          |   &lt;/div&gt;
          |   &lt;div class="offcanvas-body"&gt;
          |     &lt;div&gt;
          |       Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
          |     &lt;/div&gt;
          |     &lt;div class="dropdown mt-3"&gt;
          |       &lt;button class="btn btn-secondary dropdown-toggle" type='button' data-bs-toggle="dropdown"&gt;
          |         Dropdown button
          |       &lt;/button&gt;
          |       &lt;ul class="dropdown-menu"&gt;
          |         &lt;li&gt;&lt;a class="dropdown-item" href="#"&gt;Action&lt;/a&gt;&lt;/li&gt;
          |         &lt;li&gt;&lt;a class="dropdown-item" href="#"&gt;Another action&lt;/a&gt;&lt;/li&gt;
          |         &lt;li&gt;&lt;a class="dropdown-item" href="#"&gt;Something else here&lt;/a&gt;&lt;/li&gt;
          |       &lt;/ul&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      h4 Body scrolling
      p Scrolling the <code>&lt;body&gt;</code> element is disabled when an offcanvas and its backdrop are visible. Use the <code>data-bs-scroll</code> attribute to enable <code>&lt;body&gt;</code> scrolling.

      .bd-example
        button.btn.btn-primary(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasScrolling' aria-controls='offcanvasScrolling') Enable body scrolling
        #offcanvasScrolling.offcanvas.offcanvas-start(data-bs-scroll='true' data-bs-backdrop='false' tabindex='-1' aria-labelledby='offcanvasScrollingLabel')
          .offcanvas-header
            h5#offcanvasScrollingLabel.offcanvas-title Offcanvas with body scrolling
            button.btn-close(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
          .offcanvas-body
            p Try scrolling the rest of the page to see this option in action.

      pre
        code.language-html
          | &lt;button class="btn btn-primary" type='button' data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"&gt;Enable body scrolling&lt;/button&gt;
          |
          | &lt;div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel"&gt;
          |   &lt;div class="offcanvas-header"&gt;
          |     &lt;h5 class="offcanvas-title" id="offcanvasScrollingLabel"&gt;Offcanvas with body scrolling&lt;/h5&gt;
          |     &lt;button type='button' class="btn-close" data-bs-dismiss="offcanvas" aria-label='Close'&gt;&lt;/button&gt;
          |   &lt;/div&gt;
          |   &lt;div class="offcanvas-body"&gt;
          |     &lt;p&gt;Try scrolling the rest of the page to see this option in action.&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      h4 Body scrolling and backdrop
      p You can also enable <code>&lt;body&gt;</code> scrolling with a visible backdrop.

      .bd-example
        button.btn.btn-primary(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasWithBothOptions' aria-controls='offcanvasWithBothOptions') Enable both scrolling &amp; backdrop
        #offcanvasWithBothOptions.offcanvas.offcanvas-start(data-bs-scroll='true' tabindex='-1' aria-labelledby='offcanvasWithBothOptionsLabel')
          .offcanvas-header
            h5#offcanvasWithBothOptionsLabel.offcanvas-title Backdrop with scrolling
            button.btn-close(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
          .offcanvas-body
            p Try scrolling the rest of the page to see this option in action.

      pre
        code.language-html
          | &lt;button class="btn btn-primary" type='button' data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"&gt;Enable both scrolling &amp; backdrop&lt;/button&gt;
          |
          | &lt;div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel"&gt;
          |   &lt;div class="offcanvas-header"&gt;
          |     &lt;h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"&gt;Backdrop with scrolling&lt;/h5&gt;
          |     &lt;button type='button' class="btn-close" data-bs-dismiss="offcanvas" aria-label='Close'&gt;&lt;/button&gt;
          |   &lt;/div&gt;
          |   &lt;div class="offcanvas-body"&gt;
          |     &lt;p&gt;Try scrolling the rest of the page to see this option in action.&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      h4 Static backdrop
      p When backdrop is set to static, the offcanvas will not close when clicking outside of it.

      .bd-example
        button.btn.btn-primary(type='button' data-bs-toggle='offcanvas' data-bs-target='#staticBackdrop' aria-controls='staticBackdrop')
          | Toggle static offcanvas
        #staticBackdrop.offcanvas.offcanvas-start(data-bs-backdrop='static' tabindex='-1' aria-labelledby='staticBackdropLabel')
          .offcanvas-header
            h5#staticBackdropLabel.offcanvas-title Offcanvas
            button.btn-close(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
          .offcanvas-body
            div
              | I will not close if you click outside of me.

      pre
        code.language-html
          | &lt;button class="btn btn-primary" type='button' data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop"&gt;
          |   Toggle static offcanvas
          | &lt;/button&gt;
          |
          | &lt;div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel"&gt;
          |   &lt;div class="offcanvas-header"&gt;
          |     &lt;h5 class="offcanvas-title" id="staticBackdropLabel"&gt;Offcanvas&lt;/h5&gt;
          |     &lt;button type='button' class="btn-close" data-bs-dismiss="offcanvas" aria-label='Close'&gt;&lt;/button&gt;
          |   &lt;/div&gt;
          |   &lt;div class="offcanvas-body"&gt;
          |     &lt;div&gt;
          |       I will not close if you click outside of me.
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      h4 Dark offcanvas
      p Change the appearance of offcanvases with utilities to better match them to different contexts like dark navbars. Here we add <code>.text-bg-dark</code> to the <code>.offcanvas</code> and <code>.btn-close-white</code> to <code>.btn-close</code> for proper styling with a dark offcanvas. If you have dropdowns within, consider also adding <code>.dropdown-menu-dark</code> to <code>.dropdown-menu</code>.

      .bd-example
        button.btn.btn-primary(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasDark' aria-controls='offcanvasDark')
          | Toggle dark offcanvas
        #offcanvasDark.offcanvas.offcanvas-start.text-bg-dark(tabindex='-1' aria-labelledby='offcanvasDarkLabel')
          .offcanvas-header
            h5#offcanvasDarkLabel.offcanvas-title Offcanvas
            button.btn-close.btn-close-white(type='button' data-bs-dismiss='offcanvasDark' aria-label='Close')
          .offcanvas-body
            p Place offcanvas content here.

      pre
        code.language-html
          | &lt;button class="btn btn-primary" type='button' data-bs-toggle="offcanvas" data-bs-target="#offcanvasDark" aria-controls="offcanvasDark"&gt;
          |   Toggle dark offcanvas
          | &lt;/button&gt;
          |
          | &lt;div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDark" aria-labelledby="offcanvasDarkLabel"&gt;
          |   &lt;div class="offcanvas-header"&gt;
          |     &lt;h5 class="offcanvas-title" id="offcanvasDarkLabel"&gt;Offcanvas&lt;/h5&gt;
          |     &lt;button type='button' class="btn-close btn-close-white" data-bs-dismiss="offcanvasDark" aria-label='Close'&gt;&lt;/button&gt;
          |   &lt;/div&gt;
          |   &lt;div class="offcanvas-body"&gt;
          |     &lt;p&gt;Place offcanvas content here.&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      h4 Responsive
      p Responsive offcanvas classes hide content outside the viewport from a specified breakpoint and down. Above that breakpoint, the contents within will behave as usual. For example, <code>.offcanvas-lg</code> hides content in an offcanvas below the <code>lg</code> breakpoint, but shows the content above the <code>lg</code> breakpoint.

      .bd-example
        button.btn.btn-primary.d-lg-none(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasResponsive' aria-controls='offcanvasResponsive') Toggle offcanvas
        .alert.alert-info.d-none.d-lg-block Resize your browser to show the responsive offcanvas toggle.
        #offcanvasResponsive.offcanvas-lg.offcanvas-end(tabindex='-1' aria-labelledby='offcanvasResponsiveLabel')
          .offcanvas-header
            h5#offcanvasResponsiveLabel.offcanvas-title Responsive offcanvas
            button.btn-close(type='button' data-bs-dismiss='offcanvas' data-bs-target='#offcanvasResponsive' aria-label='Close')
          .offcanvas-body
            p.mb-0
              | This is content within an
              code .offcanvas-lg
              | .

      pre
        code.language-html
          | &lt;button class="btn btn-primary d-lg-none" type='button' data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive"&gt;Toggle offcanvas&lt;/button&gt;
          |
          | &lt;div class="alert alert-info d-none d-lg-block"&gt;Resize your browser to show the responsive offcanvas toggle.&lt;/div&gt;
          |
          | &lt;div class="offcanvas-lg offcanvas-end" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel"&gt;
          |   &lt;div class="offcanvas-header"&gt;
          |     &lt;h5 class="offcanvas-title" id="offcanvasResponsiveLabel"&gt;Responsive offcanvas&lt;/h5&gt;
          |     &lt;button type='button' class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label='Close'&gt;&lt;/button&gt;
          |   &lt;/div&gt;
          |   &lt;div class="offcanvas-body"&gt;
          |     &lt;p class="mb-0"&gt;This is content within an &lt;code&gt;.offcanvas-lg&lt;/code&gt;.&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      p Responsive offcanvas classes are available across for each breakpoint.

      ul
        li <code>.offcanvas</code>
        li <code>.offcanvas-sm</code>
        li <code>.offcanvas-md</code>
        li <code>.offcanvas-lg</code>
        li <code>.offcanvas-xl</code>
        li <code>.offcanvas-xxl</code>

      h4 Placement
      p There's no default placement for offcanvas components, so you must add one of the modifier classes below.

      ul
        li <code>.offcanvas-start</code> places offcanvas on the left of the viewport (shown above)
        li <code>.offcanvas-end</code> places offcanvas on the right of the viewport
        li <code>.offcanvas-top</code> places offcanvas on the top of the viewport
        li <code>.offcanvas-bottom</code> places offcanvas on the bottom of the viewport

      p Try the top, right, and bottom examples out below.

      .bd-example
        button.btn.btn-primary(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasTop' aria-controls='offcanvasTop') Toggle top offcanvas
        #offcanvasTop.offcanvas.offcanvas-top(tabindex='-1' aria-labelledby='offcanvasTopLabel')
          .offcanvas-header
            h5#offcanvasTopLabel.offcanvas-title Offcanvas top
            button.btn-close(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
          .offcanvas-body
            | ...

      pre
        code.language-html
          | &lt;button class="btn btn-primary" type='button' data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"&gt;Toggle top offcanvas&lt;/button&gt;
          |
          | &lt;div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel"&gt;
          |   &lt;div class="offcanvas-header"&gt;
          |     &lt;h5 class="offcanvas-title" id="offcanvasTopLabel"&gt;Offcanvas top&lt;/h5&gt;
          |     &lt;button type='button' class="btn-close" data-bs-dismiss="offcanvas" aria-label='Close'&gt;&lt;/button&gt;
          |   &lt;/div&gt;
          |   &lt;div class="offcanvas-body"&gt;
          |     ...
          |   &lt;/div&gt;
          | &lt;/div&gt;

      .bd-example
        button.btn.btn-primary(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasRight' aria-controls='offcanvasRight') Toggle right offcanvas
        #offcanvasRight.offcanvas.offcanvas-end(tabindex='-1' aria-labelledby='offcanvasRightLabel')
          .offcanvas-header
            h5#offcanvasRightLabel.offcanvas-title Offcanvas right
            button.btn-close(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
          .offcanvas-body
            | ...

      pre
        code.language-html
          | &lt;button class="btn btn-primary" type='button' data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"&gt;Toggle right offcanvas&lt;/button&gt;
          |
          | &lt;div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel"&gt;
          |   &lt;div class="offcanvas-header"&gt;
          |     &lt;h5 class="offcanvas-title" id="offcanvasRightLabel"&gt;Offcanvas right&lt;/h5&gt;
          |     &lt;button type='button' class="btn-close" data-bs-dismiss="offcanvas" aria-label='Close'&gt;&lt;/button&gt;
          |   &lt;/div&gt;
          |   &lt;div class="offcanvas-body"&gt;
          |     ...
          |   &lt;/div&gt;
          | &lt;/div&gt;

      .bd-example
        button.btn.btn-primary(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasBottom' aria-controls='offcanvasBottom') Toggle bottom offcanvas
        #offcanvasBottom.offcanvas.offcanvas-bottom(tabindex='-1' aria-labelledby='offcanvasBottomLabel')
          .offcanvas-header
            h5#offcanvasBottomLabel.offcanvas-title Offcanvas bottom
            button.btn-close(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
          .offcanvas-body.small
            | ...

      pre
        code.language-html
          | &lt;button class="btn btn-primary" type='button' data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom"&gt;Toggle bottom offcanvas&lt;/button&gt;
          |
          | &lt;div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel"&gt;
          |   &lt;div class="offcanvas-header"&gt;
          |     &lt;h5 class="offcanvas-title" id="offcanvasBottomLabel"&gt;Offcanvas bottom&lt;/h5&gt;
          |     &lt;button type='button' class="btn-close" data-bs-dismiss="offcanvas" aria-label='Close'&gt;&lt;/button&gt;
          |   &lt;/div&gt;
          |   &lt;div class="offcanvas-body small"&gt;
          |     ...
          |   &lt;/div&gt;
          | &lt;/div&gt;
