extends ../layouts/2col.pug

block append config
  - var pageTitle = "Buttons";
  - var pageSubtitle = "Custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more";
  - var skipMenu = true;

block content
  .card
    .card-body
      h4 Variants
      p Bootstrap includes several button variants, each serving its own semantic purpose, with a few extras thrown in for more control.

      .bd-example
        button.btn.btn-primary(type='button') Primary
        button.btn.btn-secondary(type='button') Secondary
        button.btn.btn-success(type='button') Success
        button.btn.btn-danger(type='button') Danger
        button.btn.btn-warning(type='button') Warning
        button.btn.btn-info(type='button') Info
        button.btn.btn-light(type='button') Light
        button.btn.btn-dark(type='button') Dark
        button.btn.btn-link(type='button') Link

      pre
        code.language-html
          | &lt;button type="button" class="btn btn-primary"&gt;Primary&lt;/button&gt;
          | &lt;button type="button" class="btn btn-secondary"&gt;Secondary&lt;/button&gt;
          | &lt;button type="button" class="btn btn-success"&gt;Success&lt;/button&gt;
          | &lt;button type="button" class="btn btn-danger"&gt;Danger&lt;/button&gt;
          | &lt;button type="button" class="btn btn-warning"&gt;Warning&lt;/button&gt;
          | &lt;button type="button" class="btn btn-info"&gt;Info&lt;/button&gt;
          | &lt;button type="button" class="btn btn-light"&gt;Light&lt;/button&gt;
          | &lt;button type="button" class="btn btn-dark"&gt;Dark&lt;/button&gt;
          | &lt;button type="button" class="btn btn-link"&gt;Link&lt;/button&gt;

      h4 Button tags
      p The <code>.btn</code> classes are designed to be used with the <code>&lt;button&gt;</code> element. However, you can also use these classes on <code>&lt;a&gt;</code> or <code>&lt;input&gt;</code> elements (though some browsers may apply a slightly different rendering).
      p When using button classes on <code>&lt;a&gt;</code> elements that are used to trigger in-page functionality (like collapsing content), rather than linking to new pages or sections within the current page, these links should be given a <code>role="button"</code> to appropriately convey their purpose to assistive technologies such as screen readers.

      .bd-example
        a.btn.btn-primary(href='#' role='button') Link
        button.btn.btn-primary(type='submit') Button
        input.btn.btn-primary(type='button' value='Input')
        input.btn.btn-primary(type='submit' value='Submit')
        input.btn.btn-primary(type='reset' value='Reset')

      pre
        code.language-html
          | &lt;a class="btn btn-primary" href="#" role="button"&gt;Link&lt;/a&gt;
          | &lt;button class="btn btn-primary" type="submit"&gt;Button&lt;/button&gt;
          | &lt;input class="btn btn-primary" type="button" value="Input"&gt;
          | &lt;input class="btn btn-primary" type="submit" value="Submit"&gt;
          | &lt;input class="btn btn-primary" type="reset" value="Reset"&gt;

      h4 Sizes
      p Fancy larger or smaller buttons? Add <code>.btn-lg</code> or <code>.btn-sm</code> for additional sizes.

      .bd-example
        button.btn.btn-primary.btn-lg(type='button') Large button
        button.btn.btn-secondary.btn-lg(type='button') Large button

      pre
        code.language-html
          | &lt;button type="button" class="btn btn-primary btn-lg"&gt;Large button&lt;/button&gt;
          | &lt;button type="button" class="btn btn-secondary btn-lg"&gt;Large button&lt;/button&gt;

      .bd-example
        button.btn.btn-primary.btn-sm(type='button') Small button
        button.btn.btn-secondary.btn-sm(type='button') Small button

      pre
        code.language-html
          | &lt;button type="button" class="btn btn-primary btn-sm"&gt;Small button&lt;/button&gt;
          | &lt;button type="button" class="btn btn-secondary btn-sm"&gt;Small button&lt;/button&gt;

      h4 Disabled state
      p Make buttons look inactive by adding the <code>disabled</code> boolean attribute to any <code>&lt;button&gt;</code> element. Disabled buttons have <code>pointer-events: none</code> applied to, preventing hover and active states from triggering.

      .bd-example
        button.btn.btn-primary(type='button' disabled='disabled') Primary button
        button.btn.btn-secondary(type='button' disabled='disabled') Button
        button.btn.btn-outline-primary(type='button' disabled='disabled') Primary button
        button.btn.btn-outline-secondary(type='button' disabled='disabled') Button

      pre
        code.language-html
          | &lt;button type="button" class="btn btn-primary" disabled&gt;Primary button&lt;/button&gt;
          | &lt;button type="button" class="btn btn-secondary" disabled&gt;Button&lt;/button&gt;
          | &lt;button type="button" class="btn btn-outline-primary" disabled&gt;Primary button&lt;/button&gt;
          | &lt;button type="button" class="btn btn-outline-secondary" disabled&gt;Button&lt;/button&gt;

      p Disabled buttons using the <code>&lt;a&gt;</code> element behave a bit different:

      ul
        li <code>&lt;a&gt;</code>s don't support the <code>disabled</code> attribute, so you must add the <code>.disabled</code> class to make it visually appear disabled.
        li Some future-friendly styles are included to disable all <code>pointer-events</code> on anchor buttons.
        li Disabled buttons using <code>&lt;a&gt;</code> should include the <code>aria-disabled="true"</code> attribute to indicate the state of the element to assistive technologies.
        li Disabled buttons using <code>&lt;a&gt;</code> <i>should not</i> include the <code>href</code> attribute.

      .bd-example
        a.btn.btn-primary.disabled(role='button' aria-disabled='true') Primary link
        a.btn.btn-secondary.disabled(role='button' aria-disabled='true') Link

      pre
        code.language-html
          | &lt;a class="btn btn-primary disabled" role="button" aria-disabled="true"&gt;Primary link&lt;/a&gt;
          | &lt;a class="btn btn-secondary disabled" role="button" aria-disabled="true"&gt;Link&lt;/a&gt;

      h4 Block buttons
      p Create responsive stacks of full-width, “block buttons” like those in Bootstrap 4 with a mix of our display and gap utilities. By using utilities instead of button-specific classes, we have much greater control over spacing, alignment, and responsive behaviors.

      .bd-example
        .d-grid.gap-2
          button.btn.btn-primary(type='button') Button
          button.btn.btn-primary(type='button') Button

      pre
        code.language-html
          | &lt;div class="d-grid gap-2"&gt;
          |   &lt;button class="btn btn-primary" type="button"&gt;Button&lt;/button&gt;
          |   &lt;button class="btn btn-primary" type="button"&gt;Button&lt;/button&gt;
          | &lt;/div&gt;

      p Here we create a responsive variation, starting with vertically stacked buttons until the <code>md</code> breakpoint, where <code>.d-md-block</code> replaces the <code>.d-grid</code> class, thus nullifying the <code>gap-2</code> utility. Resize your browser to see them change.

      .bd-example
        .d-grid.gap-2.d-md-block
          button.btn.btn-primary(type='button') Button
          button.btn.btn-primary(type='button') Button

      pre
        code.language-html
          | &lt;div class="d-grid gap-2 d-md-block"&gt;
          |   &lt;button class="btn btn-primary" type="button"&gt;Button&lt;/button&gt;
          |   &lt;button class="btn btn-primary" type="button"&gt;Button&lt;/button&gt;
          | &lt;/div&gt;

      p You can adjust the width of your block buttons with grid column width classes. For example, for a half-width “block button”, use <code>.col-6</code>. Center it horizontally with <code>.mx-auto</code>, too.

      .bd-example
        .d-grid.gap-2.col-6.mx-auto
          button.btn.btn-primary(type='button') Button
          button.btn.btn-primary(type='button') Button

      pre
        code.language-html
          | &lt;div class="d-grid gap-2 col-6 mx-auto"&gt;
          |   &lt;button class="btn btn-primary" type="button"&gt;Button&lt;/button&gt;
          |   &lt;button class="btn btn-primary" type="button"&gt;Button&lt;/button&gt;
          | &lt;/div&gt;

      p Additional utilities can be used to adjust the alignment of buttons when horizontal. Here we've taken our previous responsive example and added some flex utilities and a margin utility on the button to right-align the buttons when they're no longer stacked.

      .bd-example
        .d-grid.gap-2.d-md-flex.justify-content-md-end
          button.btn.btn-primary.me-md-2(type='button') Button
          button.btn.btn-primary(type='button') Button

      pre
        code.language-html
          | &lt;div class="d-grid gap-2 d-md-flex justify-content-md-end"&gt;
          |   &lt;button class="btn btn-primary me-md-2" type="button"&gt;Button&lt;/button&gt;
          |   &lt;button class="btn btn-primary" type="button"&gt;Button&lt;/button&gt;
          | &lt;/div&gt;

      h4 Button plugin
      p The button plugin allows you to create simple on/off toggle buttons.

      h4 Toggle states
      p Add <code>data-bs-toggle="button"</code> to toggle a button's <code>active</code> state. If you're pre-toggling a button, you must manually add the <code>.active</code> class <b>and</b> <code>aria-pressed="true"</code> to ensure that it is conveyed appropriately to assistive technologies.

      .bd-example
        p.d-inline-flex.gap-1
          button.btn(type='button' data-bs-toggle='button') Toggle button
          button.btn.active(type='button' data-bs-toggle='button' aria-pressed='true') Active toggle button
          button.btn(type='button' disabled='' data-bs-toggle='button') Disabled toggle button

        p.d-inline-flex.gap-1
          button.btn.btn-primary(type='button' data-bs-toggle='button') Toggle button
          button.btn.btn-primary.active(type='button' data-bs-toggle='button' aria-pressed='true') Active toggle button
          button.btn.btn-primary(type='button' disabled='' data-bs-toggle='button') Disabled toggle button

      pre
        code.language-html
          | &lt;p class="d-inline-flex gap-1"&gt;
          |   &lt;button type="button" class="btn" data-bs-toggle="button"&gt;Toggle button&lt;/button&gt;
          |   &lt;button type="button" class="btn active" data-bs-toggle="button" aria-pressed="true"&gt;Active toggle button&lt;/button&gt;
          |   &lt;button type="button" class="btn" disabled data-bs-toggle="button"&gt;Disabled toggle button&lt;/button&gt;
          | &lt;/p&gt;
          |
          | &lt;p class="d-inline-flex gap-1"&gt;
          |   &lt;button type="button" class="btn btn-primary" data-bs-toggle="button"&gt;Toggle button&lt;/button&gt;
          |   &lt;button type="button" class="btn btn-primary active" data-bs-toggle="button" aria-pressed="true"&gt;Active toggle button&lt;/button&gt;
          |   &lt;button type="button" class="btn btn-primary" disabled data-bs-toggle="button"&gt;Disabled toggle button&lt;/button&gt;
          | &lt;/p&gt;

      .bd-example
        p.d-inline-flex.gap-1
          a.btn(href='#' role='button' data-bs-toggle='button') Toggle link
          a.btn.active(href='#' role='button' data-bs-toggle='button' aria-pressed='true') Active toggle link
          a.btn.disabled(aria-disabled='true' role='button' data-bs-toggle='button') Disabled toggle link

        p.d-inline-flex.gap-1
          a.btn.btn-primary(href='#' role='button' data-bs-toggle='button') Toggle link
          a.btn.btn-primary.active(href='#' role='button' data-bs-toggle='button' aria-pressed='true') Active toggle link
          a.btn.btn-primary.disabled(aria-disabled='true' role='button' data-bs-toggle='button') Disabled toggle link

      pre
        code.language-html
          | &lt;p class="d-inline-flex gap-1"&gt;
          |   &lt;a href="#" class="btn" role="button" data-bs-toggle="button"&gt;Toggle link&lt;/a&gt;
          |   &lt;a href="#" class="btn active" role="button" data-bs-toggle="button" aria-pressed="true"&gt;Active toggle link&lt;/a&gt;
          |   &lt;a class="btn disabled" aria-disabled="true" role="button" data-bs-toggle="button"&gt;Disabled toggle link&lt;/a&gt;
          | &lt;/p&gt;
          |
          | &lt;p class="d-inline-flex gap-1"&gt;
          |   &lt;a href="#" class="btn btn-primary" role="button" data-bs-toggle="button"&gt;Toggle link&lt;/a&gt;
          |   &lt;a href="#" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true"&gt;Active toggle link&lt;/a&gt;
          |   &lt;a class="btn btn-primary disabled" aria-disabled="true" role="button" data-bs-toggle="button"&gt;Disabled toggle link&lt;/a&gt;
          | &lt;/p&gt;
