extends ../layouts/2col.pug

block append config
  - var pageTitle = "Tooltips";
  - var skipMenu = true;

append scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/javascript.min.js' crossorigin='anonymous')
  script.
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

block content
  .card
    .card-body
      p Documentation and examples for adding custom Bootstrap tooltips with CSS and JavaScript using CSS3 for animations and data-bs-attributes for local title storage.

      h4 Overview
      p Things to know when using the tooltip plugin:

      ul
        li Tooltips rely on the third party library <code>Popper</code> for positioning. You must include <code>popper.min.js</code> before <code>bootstrap.js</code>, or use one <code>bootstrap.bundle.min.js</code> which contains Popper.
        li Tooltips are opt-in for performance reasons, so <strong>you must initialize them yourself</strong>.
        li Tooltips with zero-length titles are never displayed.
        li Specify <code>container: 'body'</code> to avoid rendering problems in more complex components (like our input groups, button groups, etc).
        li Triggering tooltips on hidden elements will not work.
        li Tooltips for <code>.disabled</code> or <code>disabled</code> elements must be triggered on a wrapper element.
        li When triggered from hyperlinks that span multiple lines, tooltips will be centered. Use <code>white-space: nowrap;</code> on your <code>&lt;a&gt;</code>s to avoid this behavior.
        li Tooltips must be hidden before their corresponding elements have been removed from the DOM.
        li Tooltips can be triggered thanks to an element inside a shadow DOM.

      h4 Examples
      p As mentioned above, you must initialize tooltips before they can be used. One way to initialize all tooltips on a page would be to select them by their <code>data-bs-toggle</code> attribute, like so:

      pre
        code.language-javascript
          | const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
          | const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl =&gt; new bootstrap.Tooltip(tooltipTriggerEl))

      h4 Tooltips on links
      p Hover over the links below to see tooltips:

      .bd-example
        p.muted
          | Placeholder text to demonstrate some
          a(href='#' data-bs-toggle='tooltip' data-bs-title='Default tooltip') inline links
          |  with tooltips. This is now just filler, no killer. Content placed here just to mimic the presence of
          a(href='#' data-bs-toggle='tooltip' data-bs-title='Another tooltip') real text
          | . And all that just to give you an idea of how tooltips would look when used in real-world situations. So hopefully you've now seen how
          a(href='#' data-bs-toggle='tooltip' data-bs-title='Another one here too') these tooltips on links
          |  can work in practice, once you use them on
          a(href='#' data-bs-toggle='tooltip' data-bs-title='The last tip!') your own
          |  site or project.

      pre
        code.language-html
          | &lt;p class="muted"&gt;Placeholder text to demonstrate some &lt;a href="#" data-bs-toggle="tooltip" data-bs-title="Default tooltip"&gt;inline links&lt;/a&gt; with tooltips. This is now just filler, no killer. Content placed here just to mimic the presence of &lt;a href="#" data-bs-toggle="tooltip" data-bs-title="Another tooltip"&gt;real text&lt;/a&gt;. And all that just to give you an idea of how tooltips would look when used in real-world situations. So hopefully you've now seen how &lt;a href="#" data-bs-toggle="tooltip" data-bs-title="Another one here too"&gt;these tooltips on links&lt;/a&gt; can work in practice, once you use them on &lt;a href="#" data-bs-toggle="tooltip" data-bs-title="The last tip!"&gt;your own&lt;/a&gt; site or project.&lt;/p&gt;

      h4 Directions
      p Hover over the buttons below to see the four tooltips directions: top, right, bottom, and left. Directions are mirrored when using Bootstrap in RTL.

      .bd-example
        button.btn.btn-secondary(type='button' data-bs-toggle='tooltip' data-bs-placement='top' data-bs-title='Tooltip on top')
          | Tooltip on top
        button.btn.btn-secondary(type='button' data-bs-toggle='tooltip' data-bs-placement='right' data-bs-title='Tooltip on right')
          | Tooltip on right
        button.btn.btn-secondary(type='button' data-bs-toggle='tooltip' data-bs-placement='bottom' data-bs-title='Tooltip on bottom')
          | Tooltip on bottom
        button.btn.btn-secondary(type='button' data-bs-toggle='tooltip' data-bs-placement='left' data-bs-title='Tooltip on left')
          | Tooltip on left

      pre
        code.language-html
          | &lt;button type='button' class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top"&gt;
          |   Tooltip on top
          | &lt;/button&gt;
          | &lt;button type='button' class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Tooltip on right"&gt;
          |   Tooltip on right
          | &lt;/button&gt;
          | &lt;button type='button' class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom"&gt;
          |   Tooltip on bottom
          | &lt;/button&gt;
          | &lt;button type='button' class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Tooltip on left"&gt;
          |   Tooltip on left
          | &lt;/button&gt;

      p And with custom HTML added:

      .bd-example
        button.btn.btn-secondary(type='button' data-bs-toggle='tooltip' data-bs-html='true' data-bs-title='<em>Tooltip</em> <u>with</u> <b>HTML</b>')
          | Tooltip with HTML

      pre
        code.language-html
          | &lt;button type='button' class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="&lt;em&gt;Tooltip&lt;/em&gt; &lt;u&gt;with&lt;/u&gt; &lt;b&gt;HTML&lt;/b&gt;"&gt;
          |   Tooltip with HTML
          | &lt;/button&gt;
