extends ../layouts/2col.pug

block append config
  - var pageTitle = "Card";
  - var skipMenu = true;

block content
  .card
    .card-body
      p Bootstrap's cards provide a flexible and extensible content container with multiple variants and options.

      h4 About
      p A <strong>card</strong> is a flexible and extensible content container. It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options. If you're familiar with Bootstrap 3, cards replace our old panels, wells, and thumbnails. Similar functionality to those components is available as modifier classes for cards.

      h4 Example
      p Cards are built with as little markup and styles as possible, but still manage to deliver a ton of control and customization. Built with flexbox, they offer easy alignment and mix well with other Bootstrap components. They have no <code>margin</code> by default, so use spacing utilities as needed.
      p Below is an example of a basic card with mixed content and a fixed width. Cards have no fixed width to start, so they'll naturally fill the full width of its parent element. This is easily customized with our various sizing options.

      .bd-example
        .card(style='width: 18rem;')
          svg.bd-placeholder-img.card-img-top(width='100%' height='180' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
            title Placeholder
            rect(width='100%' height='100%' fill='#868e96')
            text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap
          .card-body
            h5.card-title Card title
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.
            a.btn.btn-primary(href='#') Go somewhere

      pre
        code.language-html
          | &lt;div class="card" style="width: 18rem;"&gt;
          |   &lt;img src="..." class="card-img-top" alt="..."&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
          |     &lt;a href="#" class="btn btn-primary"&gt;Go somewhere&lt;/a&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      h4 Content types
      p Cards support a wide variety of content, including images, text, list groups, links, and more. Below are examples of what's supported.

      h4 Body
      p The building block of a card is the .card-body. Use it whenever you need a padded section within a card.

      .bd-example
        .card
          .card-body
            | This is some text within a card body.

      pre
        code.language-html
          | &lt;div class="card"&gt;
          |   &lt;div class="card-body"&gt;
          |     This is some text within a card body.
          |   &lt;/div&gt;
          | &lt;/div&gt;

      h4 Titles, text, and links
      p Card titles are used by adding <code>.card-title</code> to a <code>%lt;h*%gt;</code> tag. In the same way, links are added and placed next to each other by adding <code>.card-link</code> to an <code>&lt;a&gt;</code> tag.
      p Subtitles are used by adding a <code>.card-subtitle</code> to a <code>%lt;h*%gt;</code> tag. If the <code>.card-title</code> and the <code>.card-subtitle</code> items are placed in a <code>.card-body</code> item, the card title and subtitle are aligned nicely.

      .bd-example
        .card(style='width: 18rem;')
          .card-body
            h5.card-title Card title
            h6.card-subtitle.mb-2.text-body-secondary Card subtitle
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.
            a.card-link(href='#') Card link
            a.card-link(href='#') Another link

      pre
        code.language-html
          | &lt;div class="card" style="width: 18rem;"&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |     &lt;h6 class="card-subtitle mb-2 text-body-secondary"&gt;Card subtitle&lt;/h6&gt;
          |     &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
          |     &lt;a href="#" class="card-link"&gt;Card link&lt;/a&gt;
          |     &lt;a href="#" class="card-link"&gt;Another link&lt;/a&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      h4 Images
      p <code>.card-img-top</code> places an image to the top of the card. With <code>.card-text</code>, text can be added to the card. Text within <code>.card-text</code> can also be styled with the standard HTML tags.

      .bd-example
        .card(style='width: 18rem;')
          svg.bd-placeholder-img.card-img-top(width='100%' height='180' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
            title Placeholder
            rect(width='100%' height='100%' fill='#868e96')
            text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap
          .card-body
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.

      pre
        code.language-html
          | &lt;div class="card" style="width: 18rem;"&gt;
          |   &lt;img src="..." class="card-img-top" alt="..."&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      h4 List groups
      p Create lists of content in a card with a flush list group.

      .bd-example
        .card(style='width: 18rem;')
          ul.list-group.list-group-flush
            li.list-group-item An item
            li.list-group-item A second item
            li.list-group-item A third item

      pre
        code.language-html
          | &lt;div class="card" style="width: 18rem;"&gt;
          |   &lt;ul class="list-group list-group-flush"&gt;
          |     &lt;li class="list-group-item"&gt;An item&lt;/li&gt;
          |     &lt;li class="list-group-item"&gt;A second item&lt;/li&gt;
          |     &lt;li class="list-group-item"&gt;A third item&lt;/li&gt;
          |   &lt;/ul&gt;
          | &lt;/div&gt;

      .bd-example
        .card(style='width: 18rem;')
          .card-header
            | Featured
          ul.list-group.list-group-flush
            li.list-group-item An item
            li.list-group-item A second item
            li.list-group-item A third item

      pre
        code.language-html
          | &lt;div class="card" style="width: 18rem;"&gt;
          |   &lt;div class="card-header"&gt;
          |     Featured
          |   &lt;/div&gt;
          |   &lt;ul class="list-group list-group-flush"&gt;
          |     &lt;li class="list-group-item"&gt;An item&lt;/li&gt;
          |     &lt;li class="list-group-item"&gt;A second item&lt;/li&gt;
          |     &lt;li class="list-group-item"&gt;A third item&lt;/li&gt;
          |   &lt;/ul&gt;
          | &lt;/div&gt;

      .bd-example
        .card(style='width: 18rem;')
          ul.list-group.list-group-flush
            li.list-group-item An item
            li.list-group-item A second item
            li.list-group-item A third item
          .card-footer
            | Card footer

      pre
        code.language-html
          | &lt;div class="card" style="width: 18rem;"&gt;
          |   &lt;ul class="list-group list-group-flush"&gt;
          |     &lt;li class="list-group-item"&gt;An item&lt;/li&gt;
          |     &lt;li class="list-group-item"&gt;A second item&lt;/li&gt;
          |     &lt;li class="list-group-item"&gt;A third item&lt;/li&gt;
          |   &lt;/ul&gt;
          |   &lt;div class="card-footer"&gt;
          |     Card footer
          |   &lt;/div&gt;
          | &lt;/div&gt;

      h4 Kitchen sink
      p Mix and match multiple content types to create the card you need, or throw everything in there. Shown below are image styles, blocks, text styles, and a list group—all wrapped in a fixed-width card.

      .bd-example
        .card(style='width: 18rem;')
          svg.bd-placeholder-img.card-img-top(width='100%' height='180' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
            title Placeholder
            rect(width='100%' height='100%' fill='#868e96')
            text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap
          .card-body
            h5.card-title Card title
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.
          ul.list-group.list-group-flush
            li.list-group-item An item
            li.list-group-item A second item
            li.list-group-item A third item
          .card-body
            a.card-link(href='#') Card link
            a.card-link(href='#') Another link

      pre
        code.language-html
          | &lt;div class="card" style="width: 18rem;"&gt;
          |   &lt;img src="..." class="card-img-top" alt="..."&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
          |   &lt;/div&gt;
          |   &lt;ul class="list-group list-group-flush"&gt;
          |     &lt;li class="list-group-item"&gt;An item&lt;/li&gt;
          |     &lt;li class="list-group-item"&gt;A second item&lt;/li&gt;
          |     &lt;li class="list-group-item"&gt;A third item&lt;/li&gt;
          |   &lt;/ul&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;a href="#" class="card-link"&gt;Card link&lt;/a&gt;
          |     &lt;a href="#" class="card-link"&gt;Another link&lt;/a&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      h4 Header and footer
      p Add an optional header and/or footer within a card.

      .bd-example
        .card
          .card-header
            | Featured
          .card-body
            h5.card-title Special title treatment
            p.card-text With supporting text below as a natural lead-in to additional content.
            a.btn.btn-primary(href='#') Go somewhere

      pre
        code.language-html
          | &lt;div class="card"&gt;
          |   &lt;div class="card-header"&gt;
          |     Featured
          |   &lt;/div&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Special title treatment&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;With supporting text below as a natural lead-in to additional content.&lt;/p&gt;
          |     &lt;a href="#" class="btn btn-primary"&gt;Go somewhere&lt;/a&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      p Card headers can be styled by adding .card-header to <code>&lt;h*&gt;</code> elements.

      .bd-example
        .card
          h5.card-header Featured
          .card-body
            h5.card-title Special title treatment
            p.card-text With supporting text below as a natural lead-in to additional content.
            a.btn.btn-primary(href='#') Go somewhere

      pre
        code.language-html
          | &lt;div class="card"&gt;
          |   &lt;h5 class="card-header"&gt;Featured&lt;/h5&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Special title treatment&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;With supporting text below as a natural lead-in to additional content.&lt;/p&gt;
          |     &lt;a href="#" class="btn btn-primary"&gt;Go somewhere&lt;/a&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      .bd-example
        .card
          .card-header
            | Quote
          .card-body
            blockquote.blockquote.mb-0
              p A well-known quote, contained in a blockquote element.
              footer.blockquote-footer
                | Someone famous in
                cite(title='Source Title') Source Title

      pre
        code.language-html
          | &lt;div class="card"&gt;
          |   &lt;div class="card-header"&gt;
          |     Quote
          |   &lt;/div&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;blockquote class="blockquote mb-0"&gt;
          |       &lt;p&gt;A well-known quote, contained in a blockquote element.&lt;/p&gt;
          |       &lt;footer class="blockquote-footer"&gt;Someone famous in &lt;cite title="Source Title"&gt;Source Title&lt;/cite&gt;&lt;/footer&gt;
          |     &lt;/blockquote&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      .bd-example
        .card.text-center
          .card-header
            | Featured
          .card-body
            h5.card-title Special title treatment
            p.card-text With supporting text below as a natural lead-in to additional content.
            a.btn.btn-primary(href='#') Go somewhere
          .card-footer.text-body-secondary
            | 2 days ago

      pre
        code.language-html
          | &lt;div class="card text-center"&gt;
          |   &lt;div class="card-header"&gt;
          |     Featured
          |   &lt;/div&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Special title treatment&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;With supporting text below as a natural lead-in to additional content.&lt;/p&gt;
          |     &lt;a href="#" class="btn btn-primary"&gt;Go somewhere&lt;/a&gt;
          |   &lt;/div&gt;
          |   &lt;div class="card-footer text-body-secondary"&gt;
          |     2 days ago
          |   &lt;/div&gt;
          | &lt;/div&gt;

      h4 Sizing
      p Cards assume no specific <code>width</code> to start, so they'll be 100% wide unless otherwise stated. You can change this as needed with custom CSS, grid classes, grid Sass mixins, or utilities.

      h4 Using grid markup
      p Using the grid, wrap cards in columns and rows as needed.

      .bd-example
        .row
          .col-sm-6.mb-3.mb-sm-0
            .card
              .card-body
                h5.card-title Special title treatment
                p.card-text With supporting text below as a natural lead-in to additional content.
                a.btn.btn-primary(href='#') Go somewhere
          .col-sm-6
            .card
              .card-body
                h5.card-title Special title treatment
                p.card-text With supporting text below as a natural lead-in to additional content.
                a.btn.btn-primary(href='#') Go somewhere

      pre
        code.language-html
          | &lt;div class="row"&gt;
          |   &lt;div class="col-sm-6 mb-3 mb-sm-0"&gt;
          |     &lt;div class="card"&gt;
          |       &lt;div class="card-body"&gt;
          |         &lt;h5 class="card-title"&gt;Special title treatment&lt;/h5&gt;
          |         &lt;p class="card-text"&gt;With supporting text below as a natural lead-in to additional content.&lt;/p&gt;
          |         &lt;a href="#" class="btn btn-primary"&gt;Go somewhere&lt;/a&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class="col-sm-6"&gt;
          |     &lt;div class="card"&gt;
          |       &lt;div class="card-body"&gt;
          |         &lt;h5 class="card-title"&gt;Special title treatment&lt;/h5&gt;
          |         &lt;p class="card-text"&gt;With supporting text below as a natural lead-in to additional content.&lt;/p&gt;
          |         &lt;a href="#" class="btn btn-primary"&gt;Go somewhere&lt;/a&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      h4 Using utilities
      p Use our handful of available sizing utilities to quickly set a card's width.

      .bd-example
        .card.w-75.mb-3
          .card-body
            h5.card-title Card title
            p.card-text With supporting text below as a natural lead-in to additional content.
            a.btn.btn-primary(href='#') Button
        .card.w-50
          .card-body
            h5.card-title Card title
            p.card-text With supporting text below as a natural lead-in to additional content.
            a.btn.btn-primary(href='#') Button

      pre
        code.language-html
          | &lt;div class="card w-75 mb-3"&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;With supporting text below as a natural lead-in to additional content.&lt;/p&gt;
          |     &lt;a href="#" class="btn btn-primary"&gt;Button&lt;/a&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
          |
          | &lt;div class="card w-50"&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;With supporting text below as a natural lead-in to additional content.&lt;/p&gt;
          |     &lt;a href="#" class="btn btn-primary"&gt;Button&lt;/a&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      h4 Using custom CSS
      p Use custom CSS in your stylesheets or as inline styles to set a width.

      .bd-example
        .card(style='width: 18rem;')
          .card-body
            h5.card-title Special title treatment
            p.card-text With supporting text below as a natural lead-in to additional content.
            a.btn.btn-primary(href='#') Go somewhere

      pre
        code.language-html
          | &lt;div class="card" style="width: 18rem;"&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Special title treatment&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;With supporting text below as a natural lead-in to additional content.&lt;/p&gt;
          |     &lt;a href="#" class="btn btn-primary"&gt;Go somewhere&lt;/a&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      h4 Text alignment
      p You can quickly change the text alignment of any card—in its entirety or specific parts—with our text align classes.

      .bd-example
        .card.mb-3(style='width: 18rem;')
          .card-body
            h5.card-title Special title treatment
            p.card-text With supporting text below as a natural lead-in to additional content.
            a.btn.btn-primary(href='#') Go somewhere
        .card.text-center.mb-3(style='width: 18rem;')
          .card-body
            h5.card-title Special title treatment
            p.card-text With supporting text below as a natural lead-in to additional content.
            a.btn.btn-primary(href='#') Go somewhere
        .card.text-end(style='width: 18rem;')
          .card-body
            h5.card-title Special title treatment
            p.card-text With supporting text below as a natural lead-in to additional content.
            a.btn.btn-primary(href='#') Go somewhere

      pre
        code.language-html
          | &lt;div class="card mb-3" style="width: 18rem;"&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Special title treatment&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;With supporting text below as a natural lead-in to additional content.&lt;/p&gt;
          |     &lt;a href="#" class="btn btn-primary"&gt;Go somewhere&lt;/a&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
          |
          | &lt;div class="card text-center mb-3" style="width: 18rem;"&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Special title treatment&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;With supporting text below as a natural lead-in to additional content.&lt;/p&gt;
          |     &lt;a href="#" class="btn btn-primary"&gt;Go somewhere&lt;/a&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
          |
          | &lt;div class="card text-end" style="width: 18rem;"&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Special title treatment&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;With supporting text below as a natural lead-in to additional content.&lt;/p&gt;
          |     &lt;a href="#" class="btn btn-primary"&gt;Go somewhere&lt;/a&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      h4 Navigation
      p Add some navigation to a card's header (or block) with Bootstrap's nav components.

      .bd-example
        .card.text-center
          .card-header
            ul.nav.nav-tabs.card-header-tabs
              li.nav-item
                a.nav-link.active(aria-current='true' href='#') Active
              li.nav-item
                a.nav-link(href='#') Link
              li.nav-item
                a.nav-link.disabled(aria-disabled='true') Disabled
          .card-body
            h5.card-title Special title treatment
            p.card-text With supporting text below as a natural lead-in to additional content.
            a.btn.btn-primary(href='#') Go somewhere

      pre
        code.language-html
          | &lt;div class="card text-center"&gt;
          |   &lt;div class="card-header"&gt;
          |     &lt;ul class="nav nav-tabs card-header-tabs"&gt;
          |       &lt;li class="nav-item"&gt;
          |         &lt;a class="nav-link active" aria-current="true" href="#"&gt;Active&lt;/a&gt;
          |       &lt;/li&gt;
          |       &lt;li class="nav-item"&gt;
          |         &lt;a class="nav-link" href="#"&gt;Link&lt;/a&gt;
          |       &lt;/li&gt;
          |       &lt;li class="nav-item"&gt;
          |         &lt;a class="nav-link disabled" aria-disabled="true"&gt;Disabled&lt;/a&gt;
          |       &lt;/li&gt;
          |     &lt;/ul&gt;
          |   &lt;/div&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Special title treatment&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;With supporting text below as a natural lead-in to additional content.&lt;/p&gt;
          |     &lt;a href="#" class="btn btn-primary"&gt;Go somewhere&lt;/a&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      .bd-example
        .card.text-center
          .card-header
            ul.nav.nav-pills.card-header-pills
              li.nav-item
                a.nav-link.active(href='#') Active
              li.nav-item
                a.nav-link(href='#') Link
              li.nav-item
                a.nav-link.disabled(aria-disabled='true') Disabled
          .card-body
            h5.card-title Special title treatment
            p.card-text With supporting text below as a natural lead-in to additional content.
            a.btn.btn-primary(href='#') Go somewhere

      pre
        code.language-html
          | &lt;div class="card text-center"&gt;
          |   &lt;div class="card-header"&gt;
          |     &lt;ul class="nav nav-pills card-header-pills"&gt;
          |       &lt;li class="nav-item"&gt;
          |         &lt;a class="nav-link active" href="#"&gt;Active&lt;/a&gt;
          |       &lt;/li&gt;
          |       &lt;li class="nav-item"&gt;
          |         &lt;a class="nav-link" href="#"&gt;Link&lt;/a&gt;
          |       &lt;/li&gt;
          |       &lt;li class="nav-item"&gt;
          |         &lt;a class="nav-link disabled" aria-disabled="true"&gt;Disabled&lt;/a&gt;
          |       &lt;/li&gt;
          |     &lt;/ul&gt;
          |   &lt;/div&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Special title treatment&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;With supporting text below as a natural lead-in to additional content.&lt;/p&gt;
          |     &lt;a href="#" class="btn btn-primary"&gt;Go somewhere&lt;/a&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      h4 Images
      p Cards include a few options for working with images. Choose from appending “image caps” at either end of a card, overlaying images with card content, or simply embedding the image in a card.

      h4 Image caps
      p Similar to headers and footers, cards can include top and bottom “image caps”—images at the top or bottom of a card.

      .bd-example
        .card.mb-3
          svg.bd-placeholder-img.card-img-top(width='100%' height='180' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
            title Placeholder
            rect(width='100%' height='100%' fill='#868e96')
            text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap
          .card-body
            h5.card-title Card title
            p.card-text
              | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            p.card-text
              small.text-body-secondary Last updated 3 mins ago
        .card
          .card-body
            h5.card-title Card title
            p.card-text
              | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            p.card-text
              small.text-body-secondary Last updated 3 mins ago
          svg.bd-placeholder-img.card-img-bottom(width='100%' height='180' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
            title Placeholder
            rect(width='100%' height='100%' fill='#868e96')
            text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap

      pre
        code.language-html
          | &lt;div class="card mb-3"&gt;
          |   &lt;img src="..." class="card-img-top" alt="..."&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.&lt;/p&gt;
          |     &lt;p class="card-text"&gt;&lt;small class="text-body-secondary"&gt;Last updated 3 mins ago&lt;/small&gt;&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
          | &lt;div class="card"&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.&lt;/p&gt;
          |     &lt;p class="card-text"&gt;&lt;small class="text-body-secondary"&gt;Last updated 3 mins ago&lt;/small&gt;&lt;/p&gt;
          |   &lt;/div&gt;
          |   &lt;img src="..." class="card-img-bottom" alt="..."&gt;
          | &lt;/div&gt;

      h4 Image overlays
      p Turn an image into a card background and overlay your card's text. Depending on the image, you may or may not need additional styles or utilities.

      .bd-example
        .card.text-bg-dark
          svg.bd-placeholder-img.bd-placeholder-img-lg.card-img(width='100%' height='270' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Card image' preserveaspectratio='xMidYMid slice' focusable='false')
            title Placeholder
            rect(width='100%' height='100%' fill='#868e96')
            text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Card image
          .card-img-overlay
            h5.card-title Card title
            p.card-text
              | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            p.card-text
              small Last updated 3 mins ago

      pre
        code.language-html
          | &lt;div class="card text-bg-dark"&gt;
          |   &lt;img src="..." class="card-img" alt="..."&gt;
          |   &lt;div class="card-img-overlay"&gt;
          |     &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.&lt;/p&gt;
          |     &lt;p class="card-text"&gt;&lt;small&gt;Last updated 3 mins ago&lt;/small&gt;&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      h4 Horizontal
      p Using a combination of grid and utility classes, cards can be made horizontal in a mobile-friendly and responsive way. In the example below, we remove the grid gutters with <code>.g-0</code> and use <code>.col-md-*</code> classes to make the card horizontal at the <code>md</code> breakpoint. Further adjustments may be needed depending on your card content.

      .bd-example
        .card.mb-3(style='max-width: 540px;')
          .row.g-0
            .col-md-4
              svg.bd-placeholder-img.img-fluid.rounded-start(width='100%' height='250' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#868e96')
                text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image
            .col-md-8
              .card-body
                h5.card-title Card title
                p.card-text
                  | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                p.card-text
                  small.text-body-secondary Last updated 3 mins ago

      pre
        code.language-html
          | &lt;div class="card mb-3" style="max-width: 540px;"&gt;
          |   &lt;div class="row g-0"&gt;
          |     &lt;div class="col-md-4"&gt;
          |       &lt;img src="..." class="img-fluid rounded-start" alt="..."&gt;
          |     &lt;/div&gt;
          |     &lt;div class="col-md-8"&gt;
          |       &lt;div class="card-body"&gt;
          |         &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |         &lt;p class="card-text"&gt;This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.&lt;/p&gt;
          |         &lt;p class="card-text"&gt;&lt;small class="text-body-secondary"&gt;Last updated 3 mins ago&lt;/small&gt;&lt;/p&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      h4 Card styles
      p Cards include various options for customizing their backgrounds, borders, and color.

      h4 Background and color
      p Set a <code>background-color</code> with contrasting foreground <code>color</code> with our <code>.text-bg-{color}</code> helpers. Previously it was required to manually pair your choice of <code>.text-{color}</code> and <code>.bg-{color}</code> utilities for styling, which you still may use if you prefer.

      .bd-example
        .card.text-bg-primary.mb-3(style='max-width: 18rem;')
          .card-header Header
          .card-body
            h5.card-title Primary card title
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.
        .card.text-bg-secondary.mb-3(style='max-width: 18rem;')
          .card-header Header
          .card-body
            h5.card-title Secondary card title
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.
        .card.text-bg-success.mb-3(style='max-width: 18rem;')
          .card-header Header
          .card-body
            h5.card-title Success card title
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.
        .card.text-bg-danger.mb-3(style='max-width: 18rem;')
          .card-header Header
          .card-body
            h5.card-title Danger card title
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.
        .card.text-bg-warning.mb-3(style='max-width: 18rem;')
          .card-header Header
          .card-body
            h5.card-title Warning card title
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.
        .card.text-bg-info.mb-3(style='max-width: 18rem;')
          .card-header Header
          .card-body
            h5.card-title Info card title
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.
        .card.text-bg-light.mb-3(style='max-width: 18rem;')
          .card-header Header
          .card-body
            h5.card-title Light card title
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.
        .card.text-bg-dark.mb-3(style='max-width: 18rem;')
          .card-header Header
          .card-body
            h5.card-title Dark card title
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.

      pre
        code.language-html
          | &lt;div class="card text-bg-primary mb-3" style="max-width: 18rem;"&gt;
          |   &lt;div class="card-header"&gt;Header&lt;/div&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Primary card title&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
          | &lt;div class="card text-bg-secondary mb-3" style="max-width: 18rem;"&gt;
          |   &lt;div class="card-header"&gt;Header&lt;/div&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Secondary card title&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
          | &lt;div class="card text-bg-success mb-3" style="max-width: 18rem;"&gt;
          |   &lt;div class="card-header"&gt;Header&lt;/div&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Success card title&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
          | &lt;div class="card text-bg-danger mb-3" style="max-width: 18rem;"&gt;
          |   &lt;div class="card-header"&gt;Header&lt;/div&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Danger card title&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
          | &lt;div class="card text-bg-warning mb-3" style="max-width: 18rem;"&gt;
          |   &lt;div class="card-header"&gt;Header&lt;/div&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Warning card title&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
          | &lt;div class="card text-bg-info mb-3" style="max-width: 18rem;"&gt;
          |   &lt;div class="card-header"&gt;Header&lt;/div&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Info card title&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
          | &lt;div class="card text-bg-light mb-3" style="max-width: 18rem;"&gt;
          |   &lt;div class="card-header"&gt;Header&lt;/div&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Light card title&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
          | &lt;div class="card text-bg-dark mb-3" style="max-width: 18rem;"&gt;
          |   &lt;div class="card-header"&gt;Header&lt;/div&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Dark card title&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      h4 Border
      p Use border utilities to change just the <code>border-color</code> of a card. Note that you can put <code>.text-{color}</code> classes on the parent <code>.card</code> or a subset of the card's contents as shown below.

      .bd-example
        .card.border-primary.mb-3(style='max-width: 18rem;')
          .card-header Header
          .card-body
            h5.card-title Primary card title
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.
        .card.border-secondary.mb-3(style='max-width: 18rem;')
          .card-header Header
          .card-body
            h5.card-title Secondary card title
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.
        .card.border-success.mb-3(style='max-width: 18rem;')
          .card-header Header
          .card-body
            h5.card-title Success card title
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.
        .card.border-danger.mb-3(style='max-width: 18rem;')
          .card-header Header
          .card-body
            h5.card-title Danger card title
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.
        .card.border-warning.mb-3(style='max-width: 18rem;')
          .card-header Header
          .card-body
            h5.card-title Warning card title
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.
        .card.border-info.mb-3(style='max-width: 18rem;')
          .card-header Header
          .card-body
            h5.card-title Info card title
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.
        .card.border-light.mb-3(style='max-width: 18rem;')
          .card-header Header
          .card-body
            h5.card-title Light card title
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.
        .card.border-dark.mb-3(style='max-width: 18rem;')
          .card-header Header
          .card-body
            h5.card-title Dark card title
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.

      pre
        code.language-html
          | &lt;div class="card border-primary mb-3" style="max-width: 18rem;"&gt;
          |   &lt;div class="card-header"&gt;Header&lt;/div&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Primary card title&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
          | &lt;div class="card border-secondary mb-3" style="max-width: 18rem;"&gt;
          |   &lt;div class="card-header"&gt;Header&lt;/div&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Secondary card title&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
          | &lt;div class="card border-success mb-3" style="max-width: 18rem;"&gt;
          |   &lt;div class="card-header"&gt;Header&lt;/div&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Success card title&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
          | &lt;div class="card border-danger mb-3" style="max-width: 18rem;"&gt;
          |   &lt;div class="card-header"&gt;Header&lt;/div&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Danger card title&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
          | &lt;div class="card border-warning mb-3" style="max-width: 18rem;"&gt;
          |   &lt;div class="card-header"&gt;Header&lt;/div&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Warning card title&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
          | &lt;div class="card border-info mb-3" style="max-width: 18rem;"&gt;
          |   &lt;div class="card-header"&gt;Header&lt;/div&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Info card title&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
          | &lt;div class="card border-light mb-3" style="max-width: 18rem;"&gt;
          |   &lt;div class="card-header"&gt;Header&lt;/div&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Light card title&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
          | &lt;div class="card border-dark mb-3" style="max-width: 18rem;"&gt;
          |   &lt;div class="card-header"&gt;Header&lt;/div&gt;
          |   &lt;div class="card-body"&gt;
          |     &lt;h5 class="card-title"&gt;Dark card title&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      h4 Mixins utilities
      p You can also change the borders on the card header and footer as needed, and even remove their <code>background-color</code> with <code>.bg-transparent</code>.

      .bd-example
        .card.border-success.mb-3(style='max-width: 18rem;')
          .card-header.bg-transparent.border-success Header
          .card-body.text-success
            h5.card-title Success card title
            p.card-text
              | Some quick example text to build on the card title and make up the bulk of the card's content.
          .card-footer.bg-transparent.border-success Footer

      pre
        code.language-html
          | &lt;div class="card border-success mb-3" style="max-width: 18rem;"&gt;
          |   &lt;div class="card-header bg-transparent border-success"&gt;Header&lt;/div&gt;
          |   &lt;div class="card-body text-success"&gt;
          |     &lt;h5 class="card-title"&gt;Success card title&lt;/h5&gt;
          |     &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
          |   &lt;/div&gt;
          |   &lt;div class="card-footer bg-transparent border-success"&gt;Footer&lt;/div&gt;
          | &lt;/div&gt;

      h4 Card layout
      p In addition to styling the content within cards, Bootstrap includes a few options for laying out series of cards. For the time being, <strong>these layout options are not yet responsive</strong>.

      h4 Card groups
      p Use card groups to render cards as a single, attached element with equal width and height columns. Card groups start off stacked and use <code>display: flex;</code> to become attached with uniform dimensions starting at the <code>sm</code> breakpoint.

      .bd-example
        .card-group
          .card
            svg.bd-placeholder-img.card-img-top(width='100%' height='180' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
              title Placeholder
              rect(width='100%' height='100%' fill='#868e96')
              text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap
            .card-body
              h5.card-title Card title
              p.card-text
                | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              p.card-text
                small.text-body-secondary Last updated 3 mins ago
          .card
            svg.bd-placeholder-img.card-img-top(width='100%' height='180' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
              title Placeholder
              rect(width='100%' height='100%' fill='#868e96')
              text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap
            .card-body
              h5.card-title Card title
              p.card-text This card has supporting text below as a natural lead-in to additional content.
              p.card-text
                small.text-body-secondary Last updated 3 mins ago
          .card
            svg.bd-placeholder-img.card-img-top(width='100%' height='180' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
              title Placeholder
              rect(width='100%' height='100%' fill='#868e96')
              text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap
            .card-body
              h5.card-title Card title
              p.card-text
                | This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
              p.card-text
                small.text-body-secondary Last updated 3 mins ago

      pre
        code.language-html
          | &lt;div class="card-group"&gt;
          |   &lt;div class="card"&gt;
          |     &lt;img src="..." class="card-img-top" alt="..."&gt;
          |     &lt;div class="card-body"&gt;
          |       &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |       &lt;p class="card-text"&gt;This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.&lt;/p&gt;
          |       &lt;p class="card-text"&gt;&lt;small class="text-body-secondary"&gt;Last updated 3 mins ago&lt;/small&gt;&lt;/p&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class="card"&gt;
          |     &lt;img src="..." class="card-img-top" alt="..."&gt;
          |     &lt;div class="card-body"&gt;
          |       &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |       &lt;p class="card-text"&gt;This card has supporting text below as a natural lead-in to additional content.&lt;/p&gt;
          |       &lt;p class="card-text"&gt;&lt;small class="text-body-secondary"&gt;Last updated 3 mins ago&lt;/small&gt;&lt;/p&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class="card"&gt;
          |     &lt;img src="..." class="card-img-top" alt="..."&gt;
          |     &lt;div class="card-body"&gt;
          |       &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |       &lt;p class="card-text"&gt;This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.&lt;/p&gt;
          |       &lt;p class="card-text"&gt;&lt;small class="text-body-secondary"&gt;Last updated 3 mins ago&lt;/small&gt;&lt;/p&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      p When using card groups with footers, their content will automatically line up.

      .bd-example
        .card-group
          .card
            svg.bd-placeholder-img.card-img-top(width='100%' height='180' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
              title Placeholder
              rect(width='100%' height='100%' fill='#868e96')
              text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap
            .card-body
              h5.card-title Card title
              p.card-text
                | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            .card-footer
              small.text-body-secondary Last updated 3 mins ago
          .card
            svg.bd-placeholder-img.card-img-top(width='100%' height='180' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
              title Placeholder
              rect(width='100%' height='100%' fill='#868e96')
              text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap
            .card-body
              h5.card-title Card title
              p.card-text This card has supporting text below as a natural lead-in to additional content.
            .card-footer
              small.text-body-secondary Last updated 3 mins ago
          .card
            svg.bd-placeholder-img.card-img-top(width='100%' height='180' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
              title Placeholder
              rect(width='100%' height='100%' fill='#868e96')
              text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap
            .card-body
              h5.card-title Card title
              p.card-text
                | This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
            .card-footer
              small.text-body-secondary Last updated 3 mins ago

      pre
        code.language-html
          | &lt;div class="card-group"&gt;
          |   &lt;div class="card"&gt;
          |     &lt;img src="..." class="card-img-top" alt="..."&gt;
          |     &lt;div class="card-body"&gt;
          |       &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |       &lt;p class="card-text"&gt;This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.&lt;/p&gt;
          |     &lt;/div&gt;
          |     &lt;div class="card-footer"&gt;
          |       &lt;small class="text-body-secondary"&gt;Last updated 3 mins ago&lt;/small&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class="card"&gt;
          |     &lt;img src="..." class="card-img-top" alt="..."&gt;
          |     &lt;div class="card-body"&gt;
          |       &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |       &lt;p class="card-text"&gt;This card has supporting text below as a natural lead-in to additional content.&lt;/p&gt;
          |     &lt;/div&gt;
          |     &lt;div class="card-footer"&gt;
          |       &lt;small class="text-body-secondary"&gt;Last updated 3 mins ago&lt;/small&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class="card"&gt;
          |     &lt;img src="..." class="card-img-top" alt="..."&gt;
          |     &lt;div class="card-body"&gt;
          |       &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |       &lt;p class="card-text"&gt;This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.&lt;/p&gt;
          |     &lt;/div&gt;
          |     &lt;div class="card-footer"&gt;
          |       &lt;small class="text-body-secondary"&gt;Last updated 3 mins ago&lt;/small&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      h4 Grid cards
      p Use the Bootstrap grid system and its <code>.row-cols</code> classes to control how many grid columns (wrapped around your cards) you show per row. For example, here's <code>.row-cols-1</code> laying out the cards on one column, and <code>.row-cols-md-2</code> splitting four cards to equal width across multiple rows, from the medium breakpoint up.

      .bd-example
        .row.row-cols-1.row-cols-md-2.g-4
          .col
            .card
              svg.bd-placeholder-img.card-img-top(width='100%' height='140' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#868e96')
                text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap
              .card-body
                h5.card-title Card title
                p.card-text
                  | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          .col
            .card
              svg.bd-placeholder-img.card-img-top(width='100%' height='140' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#868e96')
                text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap
              .card-body
                h5.card-title Card title
                p.card-text
                  | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          .col
            .card
              svg.bd-placeholder-img.card-img-top(width='100%' height='140' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#868e96')
                text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap
              .card-body
                h5.card-title Card title
                p.card-text
                  | This is a longer card with supporting text below as a natural lead-in to additional content.
          .col
            .card
              svg.bd-placeholder-img.card-img-top(width='100%' height='140' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#868e96')
                text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap
              .card-body
                h5.card-title Card title
                p.card-text
                  | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.

      pre
        code.language-html
          | &lt;div class="row row-cols-1 row-cols-md-2 g-4"&gt;
          |   &lt;div class="col"&gt;
          |     &lt;div class="card"&gt;
          |       &lt;img src="..." class="card-img-top" alt="..."&gt;
          |       &lt;div class="card-body"&gt;
          |         &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |         &lt;p class="card-text"&gt;This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.&lt;/p&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class="col"&gt;
          |     &lt;div class="card"&gt;
          |       &lt;img src="..." class="card-img-top" alt="..."&gt;
          |       &lt;div class="card-body"&gt;
          |         &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |         &lt;p class="card-text"&gt;This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.&lt;/p&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class="col"&gt;
          |     &lt;div class="card"&gt;
          |       &lt;img src="..." class="card-img-top" alt="..."&gt;
          |       &lt;div class="card-body"&gt;
          |         &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |         &lt;p class="card-text"&gt;This is a longer card with supporting text below as a natural lead-in to additional content.&lt;/p&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class="col"&gt;
          |     &lt;div class="card"&gt;
          |       &lt;img src="..." class="card-img-top" alt="..."&gt;
          |       &lt;div class="card-body"&gt;
          |         &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |         &lt;p class="card-text"&gt;This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.&lt;/p&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      p Change it to <code>.row-cols-3</code> and you'll see the fourth card wrap.

      .bd-example
        .row.row-cols-1.row-cols-md-3.g-4
          .col
            .card
              svg.bd-placeholder-img.card-img-top(width='100%' height='140' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#868e96')
                text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap
              .card-body
                h5.card-title Card title
                p.card-text
                  | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          .col
            .card
              svg.bd-placeholder-img.card-img-top(width='100%' height='140' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#868e96')
                text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap
              .card-body
                h5.card-title Card title
                p.card-text
                  | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          .col
            .card
              svg.bd-placeholder-img.card-img-top(width='100%' height='140' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#868e96')
                text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap
              .card-body
                h5.card-title Card title
                p.card-text
                  | This is a longer card with supporting text below as a natural lead-in to additional content.
          .col
            .card
              svg.bd-placeholder-img.card-img-top(width='100%' height='140' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#868e96')
                text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap
              .card-body
                h5.card-title Card title
                p.card-text
                  | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.

      pre
        code.language-html
          | &lt;div class="row row-cols-1 row-cols-md-3 g-4"&gt;
          |   &lt;div class="col"&gt;
          |     &lt;div class="card"&gt;
          |       &lt;img src="..." class="card-img-top" alt="..."&gt;
          |       &lt;div class="card-body"&gt;
          |         &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |         &lt;p class="card-text"&gt;This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.&lt;/p&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class="col"&gt;
          |     &lt;div class="card"&gt;
          |       &lt;img src="..." class="card-img-top" alt="..."&gt;
          |       &lt;div class="card-body"&gt;
          |         &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |         &lt;p class="card-text"&gt;This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.&lt;/p&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class="col"&gt;
          |     &lt;div class="card"&gt;
          |       &lt;img src="..." class="card-img-top" alt="..."&gt;
          |       &lt;div class="card-body"&gt;
          |         &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |         &lt;p class="card-text"&gt;This is a longer card with supporting text below as a natural lead-in to additional content.&lt;/p&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class="col"&gt;
          |     &lt;div class="card"&gt;
          |       &lt;img src="..." class="card-img-top" alt="..."&gt;
          |       &lt;div class="card-body"&gt;
          |         &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |         &lt;p class="card-text"&gt;This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.&lt;/p&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      p When you need equal height, add <code>.h-100</code> to the cards. If you want equal heights by default, you can set <code>$card-height: 100%</code> in Sass.

      .bd-example
        .row.row-cols-1.row-cols-md-3.g-4
          .col
            .card.h-100
              svg.bd-placeholder-img.card-img-top(width='100%' height='140' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#868e96')
                text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap
              .card-body
                h5.card-title Card title
                p.card-text
                  | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          .col
            .card.h-100
              svg.bd-placeholder-img.card-img-top(width='100%' height='140' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#868e96')
                text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap
              .card-body
                h5.card-title Card title
                p.card-text This is a short card.
          .col
            .card.h-100
              svg.bd-placeholder-img.card-img-top(width='100%' height='140' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#868e96')
                text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap
              .card-body
                h5.card-title Card title
                p.card-text
                  | This is a longer card with supporting text below as a natural lead-in to additional content.
          .col
            .card.h-100
              svg.bd-placeholder-img.card-img-top(width='100%' height='140' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#868e96')
                text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap
              .card-body
                h5.card-title Card title
                p.card-text
                  | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.

      pre
        code.language-html
          | &lt;div class="row row-cols-1 row-cols-md-3 g-4"&gt;
          |   &lt;div class="col"&gt;
          |     &lt;div class="card h-100"&gt;
          |       &lt;img src="..." class="card-img-top" alt="..."&gt;
          |       &lt;div class="card-body"&gt;
          |         &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |         &lt;p class="card-text"&gt;This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.&lt;/p&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class="col"&gt;
          |     &lt;div class="card h-100"&gt;
          |       &lt;img src="..." class="card-img-top" alt="..."&gt;
          |       &lt;div class="card-body"&gt;
          |         &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |         &lt;p class="card-text"&gt;This is a short card.&lt;/p&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class="col"&gt;
          |     &lt;div class="card h-100"&gt;
          |       &lt;img src="..." class="card-img-top" alt="..."&gt;
          |       &lt;div class="card-body"&gt;
          |         &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |         &lt;p class="card-text"&gt;This is a longer card with supporting text below as a natural lead-in to additional content.&lt;/p&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class="col"&gt;
          |     &lt;div class="card h-100"&gt;
          |       &lt;img src="..." class="card-img-top" alt="..."&gt;
          |       &lt;div class="card-body"&gt;
          |         &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |         &lt;p class="card-text"&gt;This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.&lt;/p&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      p Just like with card groups, card footers will automatically line up.

      .bd-example
        .row.row-cols-1.row-cols-md-3.g-4
          .col
            .card.h-100
              svg.bd-placeholder-img.card-img-top(width='100%' height='180' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#868e96')
                text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap
              .card-body
                h5.card-title Card title
                p.card-text
                  | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              .card-footer
                small.text-body-secondary Last updated 3 mins ago
          .col
            .card.h-100
              svg.bd-placeholder-img.card-img-top(width='100%' height='180' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#868e96')
                text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap
              .card-body
                h5.card-title Card title
                p.card-text This card has supporting text below as a natural lead-in to additional content.
              .card-footer
                small.text-body-secondary Last updated 3 mins ago
          .col
            .card.h-100
              svg.bd-placeholder-img.card-img-top(width='100%' height='180' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Image cap' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#868e96')
                text(x='50%' y='50%' fill='#dee2e6' dy='.3em') Image cap
              .card-body
                h5.card-title Card title
                p.card-text
                  | This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
              .card-footer
                small.text-body-secondary Last updated 3 mins ago

      pre
        code.language-html
          | &lt;div class="row row-cols-1 row-cols-md-3 g-4"&gt;
          |   &lt;div class="col"&gt;
          |     &lt;div class="card h-100"&gt;
          |       &lt;img src="..." class="card-img-top" alt="..."&gt;
          |       &lt;div class="card-body"&gt;
          |         &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |         &lt;p class="card-text"&gt;This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.&lt;/p&gt;
          |       &lt;/div&gt;
          |       &lt;div class="card-footer"&gt;
          |         &lt;small class="text-body-secondary"&gt;Last updated 3 mins ago&lt;/small&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class="col"&gt;
          |     &lt;div class="card h-100"&gt;
          |       &lt;img src="..." class="card-img-top" alt="..."&gt;
          |       &lt;div class="card-body"&gt;
          |         &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |         &lt;p class="card-text"&gt;This card has supporting text below as a natural lead-in to additional content.&lt;/p&gt;
          |       &lt;/div&gt;
          |       &lt;div class="card-footer"&gt;
          |         &lt;small class="text-body-secondary"&gt;Last updated 3 mins ago&lt;/small&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class="col"&gt;
          |     &lt;div class="card h-100"&gt;
          |       &lt;img src="..." class="card-img-top" alt="..."&gt;
          |       &lt;div class="card-body"&gt;
          |         &lt;h5 class="card-title"&gt;Card title&lt;/h5&gt;
          |         &lt;p class="card-text"&gt;This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.&lt;/p&gt;
          |       &lt;/div&gt;
          |       &lt;div class="card-footer"&gt;
          |         &lt;small class="text-body-secondary"&gt;Last updated 3 mins ago&lt;/small&gt;
          |       &lt;/div&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
