extends ../layouts/2col.pug

block append config
  - var pageTitle = "Tables";
  - var pageSubtitle = "Opt-in styling of tables";
  - var skipMenu = true;

block content
  .card
    .card-body
      h4 Overview
      p Due to the widespread use of <code>&lt;table&gt;</code>. elements across third-party widgets like calendars and date pickers, Bootstrap's tables are <strong>opt-in</strong>. Add the base class <code>.table</code> to any <code>&lt;table&gt;</code>, then extend with our optional modifier classes or custom styles. All table styles are not inherited in Bootstrap, meaning any nested tables can be styled independent from the parent.
      p Using the most basic table markup, here's how <code>.table</code>-based tables look in Bootstrap.

      .bd-example
        table.table
          thead
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td(colspan='2') Larry the Bird
              td @twitter

      pre
        code.language-html
          | &lt;table class="table"&gt;
          |   &lt;thead&gt;
          |     &lt;tr&gt;
          |       &lt;th scope="col"&gt;#&lt;/th&gt;
          |       &lt;th scope="col"&gt;First&lt;/th&gt;
          |       &lt;th scope="col"&gt;Last&lt;/th&gt;
          |       &lt;th scope="col"&gt;Handle&lt;/th&gt;
          |     &lt;/tr&gt;
          |   &lt;/thead&gt;
          |   &lt;tbody&gt;
          |     &lt;tr&gt;
          |       &lt;th scope="row"&gt;1&lt;/th&gt;
          |       &lt;td&gt;Mark&lt;/td&gt;
          |       &lt;td&gt;Otto&lt;/td&gt;
          |       &lt;td&gt;@mdo&lt;/td&gt;
          |     &lt;/tr&gt;
          |     &lt;tr&gt;
          |       &lt;th scope="row"&gt;2&lt;/th&gt;
          |       &lt;td&gt;Jacob&lt;/td&gt;
          |       &lt;td&gt;Thornton&lt;/td&gt;
          |       &lt;td&gt;@fat&lt;/td&gt;
          |     &lt;/tr&gt;
          |     &lt;tr&gt;
          |       &lt;th scope="row"&gt;3&lt;/th&gt;
          |       &lt;td colspan="2"&gt;Larry the Bird&lt;/td&gt;
          |       &lt;td&gt;@twitter&lt;/td&gt;
          |     &lt;/tr&gt;
          |   &lt;/tbody&gt;
          | &lt;/table&gt;

      h4 Variants
      p Use contextual classes to color tables, table rows or individual cells.

      .bd-example
        table.table
          thead
            tr
              th(scope='col') Class
              th(scope='col') Heading
              th(scope='col') Heading
          tbody
            tr
              th(scope='row') Default
              td Cell
              td Cell
            tr.table-primary
              th(scope='row') Primary
              td Cell
              td Cell
            tr.table-secondary
              th(scope='row') Secondary
              td Cell
              td Cell
            tr.table-success
              th(scope='row') Success
              td Cell
              td Cell
            tr.table-danger
              th(scope='row') Danger
              td Cell
              td Cell
            tr.table-warning
              th(scope='row') Warning
              td Cell
              td Cell
            tr.table-info
              th(scope='row') Info
              td Cell
              td Cell
            tr.table-light
              th(scope='row') Light
              td Cell
              td Cell
            tr.table-dark
              th(scope='row') Dark
              td Cell
              td Cell

      pre
        code.language-html
          | &lt;!-- On tables --&gt;
          | &lt;table class="table-primary"&gt;...&lt;/table&gt;
          | &lt;table class="table-secondary"&gt;...&lt;/table&gt;
          | &lt;table class="table-success"&gt;...&lt;/table&gt;
          | &lt;table class="table-danger"&gt;...&lt;/table&gt;
          | &lt;table class="table-warning"&gt;...&lt;/table&gt;
          | &lt;table class="table-info"&gt;...&lt;/table&gt;
          | &lt;table class="table-light"&gt;...&lt;/table&gt;
          | &lt;table class="table-dark"&gt;...&lt;/table&gt;
          |
          | &lt;!-- On rows --&gt;
          | &lt;tr class="table-primary"&gt;...&lt;/tr&gt;
          | &lt;tr class="table-secondary"&gt;...&lt;/tr&gt;
          | &lt;tr class="table-success"&gt;...&lt;/tr&gt;
          | &lt;tr class="table-danger"&gt;...&lt;/tr&gt;
          | &lt;tr class="table-warning"&gt;...&lt;/tr&gt;
          | &lt;tr class="table-info"&gt;...&lt;/tr&gt;
          | &lt;tr class="table-light"&gt;...&lt;/tr&gt;
          | &lt;tr class="table-dark"&gt;...&lt;/tr&gt;
          |
          | &lt;!-- On cells (`td` or `th`) --&gt;
          | &lt;tr&gt;
          |   &lt;td class="table-primary"&gt;...&lt;/td&gt;
          |   &lt;td class="table-secondary"&gt;...&lt;/td&gt;
          |   &lt;td class="table-success"&gt;...&lt;/td&gt;
          |   &lt;td class="table-danger"&gt;...&lt;/td&gt;
          |   &lt;td class="table-warning"&gt;...&lt;/td&gt;
          |   &lt;td class="table-info"&gt;...&lt;/td&gt;
          |   &lt;td class="table-light"&gt;...&lt;/td&gt;
          |   &lt;td class="table-dark"&gt;...&lt;/td&gt;
          | &lt;/tr&gt;

      h4 Accented tables
      h4 Striped rows
      p Use <code>.table-striped</code> to add zebra-striping to any table row within the <code>&lt;tbody&gt;</code>.

      .bd-example
        table.table.table-striped
          thead
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td(colspan='2') Larry the Bird
              td @twitter

      pre
        code.language-html
          | &lt;table class="table table-striped"&gt;
          |   ...
          | &lt;/table&gt;

      p These classes can also be added to table variants:

      .bd-example
        table.table.table-dark.table-striped
          thead
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td(colspan='2') Larry the Bird
              td @twitter

      pre
        code.language-html
          | &lt;table class="table table-dark table-striped"&gt;
          |   ...
          | &lt;/table&gt;

      .bd-example
        table.table.table-dark.table-striped-columns
          thead
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td(colspan='2') Larry the Bird
              td @twitter

      pre
        code.language-html
          | &lt;table class="table table-dark table-striped-columns"&gt;
          |   ...
          | &lt;/table&gt;

      .bd-example
        table.table.table-success.table-striped
          thead
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td(colspan='2') Larry the Bird
              td @twitter

      pre
        code.language-html
          | &lt;table class="table table-success table-striped"&gt;
          |   ...
          | &lt;/table&gt;

      .bd-example
        table.table.table-success.table-striped-columns
          thead
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td(colspan='2') Larry the Bird
              td @twitter

      pre
        code.language-html
          | &lt;table class="table table-success table-striped-columns"&gt;
          |   ...
          | &lt;/table&gt;

      h4 Hoverable rows
      p Add <code>.table-hover</code> to enable a hover state on table rows within a <code>&lt;tbody&gt;</code>.

      .bd-example
        table.table.table-hover
          thead
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td(colspan='2') Larry the Bird
              td @twitter

      pre
        code.language-html
          | &lt;table class="table table-hover"&gt;
          |   ...
          | &lt;/table&gt;

      .bd-example
        table.table.table-dark.table-hover
          thead
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td(colspan='2') Larry the Bird
              td @twitter

      pre
        code.language-html
          | &lt;table class="table table-dark table-hover"&gt;
          |   ...
          | &lt;/table&gt;

      p These hoverable rows can also be combined with the striped rows variant:

      .bd-example
        table.table.table-striped.table-hover
          thead
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td(colspan='2') Larry the Bird
              td @twitter

      pre
        code.language-html
          | &lt;table class="table table-striped table-hover"&gt;
          |   ...
          | &lt;/table&gt;

      h4 Active tables
      p Highlight a table row or cell by adding a <code>.table-active</code> class.

      .bd-example
        table.table
          thead
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr.table-active
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td.table-active(colspan='2') Larry the Bird
              td @twitter

      pre
        code.language-html
          | &lt;table class="table"&gt;
          |   &lt;thead&gt;
          |     ...
          |   &lt;/thead&gt;
          |   &lt;tbody&gt;
          |     &lt;tr class="table-active"&gt;
          |       ...
          |     &lt;/tr&gt;
          |     &lt;tr&gt;
          |       ...
          |     &lt;/tr&gt;
          |     &lt;tr&gt;
          |       &lt;th scope="row"&gt;3&lt;/th&gt;
          |       &lt;td colspan="2" class="table-active"&gt;Larry the Bird&lt;/td&gt;
          |       &lt;td&gt;@twitter&lt;/td&gt;
          |     &lt;/tr&gt;
          |   &lt;/tbody&gt;
          | &lt;/table&gt;

      .bd-example
        table.table.table-dark
          thead
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr.table-active
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td.table-active(colspan='2') Larry the Bird
              td @twitter

      pre
        code.language-html
          | &lt;table class="table table-dark"&gt;
          |   &lt;thead&gt;
          |     ...
          |   &lt;/thead&gt;
          |   &lt;tbody&gt;
          |     &lt;tr class="table-active"&gt;
          |       ...
          |     &lt;/tr&gt;
          |     &lt;tr&gt;
          |       ...
          |     &lt;/tr&gt;
          |     &lt;tr&gt;
          |       &lt;th scope="row"&gt;3&lt;/th&gt;
          |       &lt;td colspan="2" class="table-active"&gt;Larry the Bird&lt;/td&gt;
          |       &lt;td&gt;@twitter&lt;/td&gt;
          |     &lt;/tr&gt;
          |   &lt;/tbody&gt;
          | &lt;/table&gt;

      h4 Table borders
      h4 Bordered tables
      p Add <code>.table-bordered</code> for borders on all sides of the table and cells.

      .bd-example
        table.table.table-bordered
          thead
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td(colspan='2') Larry the Bird
              td @twitter

      pre
        code.language-html
          | &lt;table class="table table-bordered"&gt;
          |   ...
          | &lt;/table&gt;

      p Border color utilities can be added to change colors:

      .bd-example
        table.table.table-bordered.border-primary
          thead
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td(colspan='2') Larry the Bird
              td @twitter

      pre
        code.language-html
          | &lt;table class="table table-bordered border-primary"&gt;
          |   ...
          | &lt;/table&gt;

      h4 Tables without borders
      p Add <code>.table-borderless</code> for a table without borders.

      .bd-example
        table.table.table-borderless
          thead
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td(colspan='2') Larry the Bird
              td @twitter

      pre
        code.language-html
          | &lt;table class="table table-borderless"&gt;
          |   ...
          | &lt;/table&gt;

      .bd-example
        table.table.table-dark.table-borderless
          thead
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td(colspan='2') Larry the Bird
              td @twitter

      pre
        code.language-html
          | &lt;table class="table table-dark table-borderless"&gt;
          |   ...
          | &lt;/table&gt;

      h4 Small tables
      p Add <code>.table-sm</code> to make any <code>.table</code> more compact by cutting all cell <code>padding</code> in half.

      .bd-example
        table.table.table-sm
          thead
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td(colspan='2') Larry the Bird
              td @twitter

      pre
        code.language-html
          | &lt;table class="table table-sm"&gt;
          |   ...
          | &lt;/table&gt;

      .bd-example
        table.table.table-dark.table-sm
          thead
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td(colspan='2') Larry the Bird
              td @twitter

      pre
        code.language-html
          | &lt;table class="table table-dark table-sm"&gt;
          |   ...
          | &lt;/table&gt;

      h4 Table group dividers
      p Add a thicker border, darker between table groups-<code>&lt;thead&gt;</code>, <code>&lt;tbody&gt;</code>, and <code>&lt;tfoot&gt;</code>-with <code>.table-group-divider</code>. Customize the color by changing the <code>border-top-color</code> (which we don't currently provide a utility class for at this time).

      .bd-example
        table.table
          thead
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody.table-group-divider
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td(colspan='2') Larry the Bird
              td @twitter

      pre
        code.language-html
          | &lt;table class="table"&gt;
          |   &lt;thead&gt;
          |     &lt;tr&gt;
          |       &lt;th scope="col"&gt;#&lt;/th&gt;
          |       &lt;th scope="col"&gt;First&lt;/th&gt;
          |       &lt;th scope="col"&gt;Last&lt;/th&gt;
          |       &lt;th scope="col"&gt;Handle&lt;/th&gt;
          |     &lt;/tr&gt;
          |   &lt;/thead&gt;
          |   &lt;tbody class="table-group-divider"&gt;
          |     &lt;tr&gt;
          |       &lt;th scope="row"&gt;1&lt;/th&gt;
          |       &lt;td&gt;Mark&lt;/td&gt;
          |       &lt;td&gt;Otto&lt;/td&gt;
          |       &lt;td&gt;@mdo&lt;/td&gt;
          |     &lt;/tr&gt;
          |     &lt;tr&gt;
          |       &lt;th scope="row"&gt;2&lt;/th&gt;
          |       &lt;td&gt;Jacob&lt;/td&gt;
          |       &lt;td&gt;Thornton&lt;/td&gt;
          |       &lt;td&gt;@fat&lt;/td&gt;
          |     &lt;/tr&gt;
          |     &lt;tr&gt;
          |       &lt;th scope="row"&gt;3&lt;/th&gt;
          |       &lt;td colspan="2"&gt;Larry the Bird&lt;/td&gt;
          |       &lt;td&gt;@twitter&lt;/td&gt;
          |     &lt;/tr&gt;
          |   &lt;/tbody&gt;
          | &lt;/table&gt;

      h4 Vertical alignment
      p Table cells of <code>&lt;thead&gt;</code> are always vertical aligned to the bottom. Table cells in <code>&lt;tbody&gt;</code> inherit their alignment from <code>&lt;table&gt;</code> and are aligned to the top by default. Use the vertical align classes to re-align where needed.

      .bd-example
        .table-responsive
          table.table.align-middle
            thead
              tr
                th.w-25(scope='col') Heading 1
                th.w-25(scope='col') Heading 2
                th.w-25(scope='col') Heading 3
                th.w-25(scope='col') Heading 4
            tbody
              tr
                td
                  | This cell inherits
                  code vertical-align: middle;
                  |  from the table
                td
                  | This cell inherits
                  code vertical-align: middle;
                  |  from the table
                td
                  | This cell inherits
                  code vertical-align: middle;
                  |  from the table
                td
                  | This here is some placeholder text, intended to take up quite a bit of vertical space, to demonstrate how the vertical alignment works in the preceding cells.
              tr.align-bottom
                td
                  | This cell inherits
                  code vertical-align: bottom;
                  |  from the table row
                td
                  | This cell inherits
                  code vertical-align: bottom;
                  |  from the table row
                td
                  | This cell inherits
                  code vertical-align: bottom;
                  |  from the table row
                td
                  | This here is some placeholder text, intended to take up quite a bit of vertical space, to demonstrate how the vertical alignment works in the preceding cells.
              tr
                td
                  | This cell inherits
                  code vertical-align: middle;
                  |  from the table
                td
                  | This cell inherits
                  code vertical-align: middle;
                  |  from the table
                td.align-top This cell is aligned to the top.
                td
                  | This here is some placeholder text, intended to take up quite a bit of vertical space, to demonstrate how the vertical alignment works in the preceding cells.

      pre
        code.language-html
          | &lt;div class="table-responsive"&gt;
          |   &lt;table class="table align-middle"&gt;
          |     &lt;thead&gt;
          |       &lt;tr&gt;
          |         ...
          |       &lt;/tr&gt;
          |     &lt;/thead&gt;
          |     &lt;tbody&gt;
          |       &lt;tr&gt;
          |         ...
          |       &lt;/tr&gt;
          |       &lt;tr class="align-bottom"&gt;
          |         ...
          |       &lt;/tr&gt;
          |       &lt;tr&gt;
          |         &lt;td&gt;...&lt;/td&gt;
          |         &lt;td&gt;...&lt;/td&gt;
          |         &lt;td class="align-top"&gt;This cell is aligned to the top.&lt;/td&gt;
          |         &lt;td&gt;...&lt;/td&gt;
          |       &lt;/tr&gt;
          |     &lt;/tbody&gt;
          |   &lt;/table&gt;
          | &lt;/div&gt;

      h4 Nesting
      p Border styles, active styles, and table variants are not inherited by nested tables.

      .bd-example
        table.table.table-striped.table-bordered
          thead
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              td(colspan='4')
                table.table.mb-0
                  thead
                    tr
                      th(scope='col') Header
                      th(scope='col') Header
                      th(scope='col') Header
                  tbody
                    tr
                      th(scope='row') A
                      td First
                      td Last
                    tr
                      th(scope='row') B
                      td First
                      td Last
                    tr
                      th(scope='row') C
                      td First
                      td Last
            tr
              th(scope='row') 3
              td Larry
              td the Bird
              td @twitter

      pre
        code.language-html
          | &lt;table class="table table-striped table-bordered"&gt;
          |   &lt;thead&gt;
          |     ...
          |   &lt;/thead&gt;
          |   &lt;tbody&gt;
          |     ...
          |     &lt;tr&gt;
          |       &lt;td colspan="4"&gt;
          |         &lt;table class="table mb-0"&gt;
          |           ...
          |         &lt;/table&gt;
          |       &lt;/td&gt;
          |     &lt;/tr&gt;
          |     ...
          |   &lt;/tbody&gt;
          | &lt;/table&gt;

      h4 Table head
      p Similar to tables and dark tables, use the modifier classes <code>.table-light</code> or <code>.table-dark</code> to make <code>&lt;thead&gt;</code>s appear light or dark gray.

      .bd-example
        table.table
          thead.table-light
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td Larry
              td the Bird
              td @twitter

      pre
        code.language-html
          | &lt;table class="table"&gt;
          |   &lt;thead class="table-light"&gt;
          |     ...
          |   &lt;/thead&gt;
          |   &lt;tbody&gt;
          |     ...
          |   &lt;/tbody&gt;
          | &lt;/table&gt;

      .bd-example
        table.table
          thead.table-dark
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td Larry
              td the Bird
              td @twitter

      pre
        code.language-html
          | &lt;table class="table"&gt;
          |   &lt;thead class="table-dark"&gt;
          |     ...
          |   &lt;/thead&gt;
          |   &lt;tbody&gt;
          |     ...
          |   &lt;/tbody&gt;
          | &lt;/table&gt;

      h4 Table foot

      .bd-example
        table.table
          thead
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td Larry
              td the Bird
              td @twitter
          tfoot
            tr
              td Footer
              td Footer
              td Footer
              td Footer

      pre
        code.language-html
          | &lt;table class="table"&gt;
          |   &lt;thead&gt;
          |     ...
          |   &lt;/thead&gt;
          |   &lt;tbody&gt;
          |     ...
          |   &lt;/tbody&gt;
          |   &lt;tfoot&gt;
          |     ...
          |   &lt;/tfoot&gt;
          | &lt;/table&gt;

      h4 Captions
      p A <code>&lt;caption&gt;</code> functions like a heading for a table. It helps users with screen readers to find a table and understand what it's about and decide if they want to read it.

      .bd-example
        table.table
          caption List of users
          thead
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td(colspan='2') Larry the Bird
              td @twitter

      pre
        code.language-html
          | &lt;table class="table table-sm"&gt;
          |   &lt;caption&gt;List of users&lt;/caption&gt;
          |   &lt;thead&gt;
          |     ...
          |   &lt;/thead&gt;
          |   &lt;tbody&gt;
          |     ...
          |   &lt;/tbody&gt;
          | &lt;/table&gt;

      p You can also put the <code>&lt;caption&gt;</code> on the top of the table with .caption-top.

      .bd-example
        table.table.caption-top
          caption List of users
          thead
            tr
              th(scope='col') #
              th(scope='col') First
              th(scope='col') Last
              th(scope='col') Handle
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td(colspan='2') Larry the Bird
              td @twitter

      pre
        code.language-html
          | &lt;table class="table caption-top"&gt;
          |   &lt;caption&gt;List of users&lt;/caption&gt;
          |   &lt;thead&gt;
          |     ...
          |   &lt;/thead&gt;
          |   &lt;tbody&gt;
          |     ...
          |   &lt;/tbody&gt;
          | &lt;/table&gt;

      h4 Responsive tables
      p Responsive tables allow tables to be scrolled horizontally with ease. Make any table responsive across all viewports by wrapping a <code>.table</code> with <code>.table-responsive</code>. Or, pick a maximum breakpoint with which to have a responsive table up to by using <code>.table-responsive{-sm|-md|-lg|-xl|-xxl}</code>.

      h4 Always responsive
      p Across every breakpoint, use <code>.table-responsive</code> for horizontally scrolling tables.

      .bd-example
        .table-responsive
          table.table
            thead
              tr
                th(scope='col') #
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
            tbody
              tr
                th(scope='row') 1
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
              tr
                th(scope='row') 2
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
              tr
                th(scope='row') 3
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell

      pre
        code.language-html
          | &lt;div class="table-responsive"&gt;
          |   &lt;table class="table"&gt;
          |     ...
          |   &lt;/table&gt;
          | &lt;/div&gt;

      h4 Breakpoint specific
      p Use <code>.table-responsive{-sm|-md|-lg|-xl|-xxl}</code> as needed to create responsive tables up to a particular breakpoint. From that breakpoint and up, the table will behave normally and not scroll horizontally.
      p <strong>These tables may appear broken until their responsive styles apply at specific viewport widths.</strong>

      .bd-example
        .table-responsive
          table.table
            thead
              tr
                th(scope='col') #
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
            tbody
              tr
                th(scope='row') 1
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
              tr
                th(scope='row') 2
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
              tr
                th(scope='row') 3
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell

        .table-responsive-sm
          table.table
            thead
              tr
                th(scope='col') #
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
            tbody
              tr
                th(scope='row') 1
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
              tr
                th(scope='row') 2
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
              tr
                th(scope='row') 3
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell

        .table-responsive-md
          table.table
            thead
              tr
                th(scope='col') #
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
            tbody
              tr
                th(scope='row') 1
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
              tr
                th(scope='row') 2
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
              tr
                th(scope='row') 3
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell

        .table-responsive-lg
          table.table
            thead
              tr
                th(scope='col') #
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
            tbody
              tr
                th(scope='row') 1
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
              tr
                th(scope='row') 2
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
              tr
                th(scope='row') 3
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell

        .table-responsive-xl
          table.table
            thead
              tr
                th(scope='col') #
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
            tbody
              tr
                th(scope='row') 1
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
              tr
                th(scope='row') 2
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
              tr
                th(scope='row') 3
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell

        .table-responsive-xxl
          table.table
            thead
              tr
                th(scope='col') #
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
                th(scope='col') Heading
            tbody
              tr
                th(scope='row') 1
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
              tr
                th(scope='row') 2
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
              tr
                th(scope='row') 3
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell
                td Cell

      pre
        code.language-html
          | &lt;div class="table-responsive"&gt;
          |   &lt;table class="table"&gt;
          |     ...
          |   &lt;/table&gt;
          | &lt;/div&gt;
          |
          | &lt;div class="table-responsive-sm"&gt;
          |   &lt;table class="table"&gt;
          |     ...
          |   &lt;/table&gt;
          | &lt;/div&gt;
          |
          | &lt;div class="table-responsive-md"&gt;
          |   &lt;table class="table"&gt;
          |     ...
          |   &lt;/table&gt;
          | &lt;/div&gt;
          |
          | &lt;div class="table-responsive-lg"&gt;
          |   &lt;table class="table"&gt;
          |     ...
          |   &lt;/table&gt;
          | &lt;/div&gt;
          |
          | &lt;div class="table-responsive-xl"&gt;
          |   &lt;table class="table"&gt;
          |     ...
          |   &lt;/table&gt;
          | &lt;/div&gt;
          |
          | &lt;div class="table-responsive-xxl"&gt;
          |   &lt;table class="table"&gt;
          |     ...
          |   &lt;/table&gt;
          | &lt;/div&gt;
