extends ../layouts/2col.pug

block append config
  - var pageTitle = "Action Group";
  - var skipMenu = true;

block content
  .card
    .card-body
      p Extension to Bootstrap <code>.btn-group</code>

      h4 Small
      p Collapse a button group based on the size of the screen using <code>.btn-group-action-sm</code>

      .bd-example
        .btn-group.btn-group-action-sm(role='group' aria-label='Actions')
          a.btn.btn-info(href='#' role='button')
            i.bi.bi-eye(aria-label='Show')
            span.label Show
          a.btn.btn-warning(href='#' role='button')
            i.bi.bi-pencil(aria-label='Edit')
            span.label Edit
          a.btn.btn-danger(href='#' role='button')
            i.bi.bi-trash(aria-label='Delete')
            span.label Delete

      pre
        code.language-html
          | &lt;div class="btn-group btn-group-action-sm" role="group" aria-label="Actions"&gt;
          |   &lt;a class="btn btn-info" href="#" role="button"&gt;
          |     &lt;i class="bi bi-eye" aria-hidden="true"&gt;&lt;/i&gt;
          |     &lt;span class="label"&gt;Show&lt;/span&gt;
          |   &lt;/a&gt;
          |   &lt;a class="btn btn-warning" href="#" role="button"&gt;
          |     &lt;i class="bi bi-pencil" aria-hidden="true"&gt;&lt;/i&gt;
          |     &lt;span class="label"&gt;Edit&lt;/span&gt;
          |   &lt;/a&gt;
          |   &lt;a class="btn btn-danger" href="#" role="button"&gt;
          |     &lt;i class="bi bi-trash" aria-hidden="true"&gt;&lt;/i&gt;
          |     &lt;span class="label"&gt;Delete&lt;/span&gt;
          |   &lt;/a&gt;
          | &lt;/div&gt;

      h4 Medium
      p Collapse a button group based on the size of the screen using <code>.btn-group-action-md</code>

      .bd-example
        .btn-group.btn-group-action-md(role='group' aria-label='Actions')
          a.btn.btn-info(href='#' role='button')
            i.bi.bi-eye(aria-label='Show')
            span.label Show
          a.btn.btn-warning(href='#' role='button')
            i.bi.bi-pencil(aria-label='Edit')
            span.label Edit
          a.btn.btn-danger(href='#' role='button')
            i.bi.bi-trash(aria-label='Delete')
            span.label Delete

      pre
        code.language-html
          | &lt;div class="btn-group btn-group-action-md" role="group" aria-label="Actions"&gt;
          |   ...
          | &lt;/div&gt;

      h4 Large
      p Collapse a button group based on the size of the screen using <code>.btn-group-action-lg</code>

      .bd-example
        .btn-group.btn-group-action-lg(role='group' aria-label='Actions')
          a.btn.btn-info(href='#' role='button')
            i.bi.bi-eye(aria-label='Show')
            span.label Show
          a.btn.btn-warning(href='#' role='button')
            i.bi.bi-pencil(aria-label='Edit')
            span.label Edit
          a.btn.btn-danger(href='#' role='button')
            i.bi.bi-trash(aria-label='Delete')
            span.label Delete

      pre
        code.language-html
          | &lt;div class="btn-group btn-group-action-lg" role="group" aria-label="Actions"&gt;
          |   ...
          | &lt;/div&gt;

      h4 Extra Large
      p Collapse a button group based on the size of the screen using <code>.btn-group-action-xl</code>

      .bd-example
        .btn-group.btn-group-action-xl(role='group' aria-label='Actions')
          a.btn.btn-info(href='#' role='button')
            i.bi.bi-eye(aria-label='Show')
            span.label Show
          a.btn.btn-warning(href='#' role='button')
            i.bi.bi-pencil(aria-label='Edit')
            span.label Edit
          a.btn.btn-danger(href='#' role='button')
            i.bi.bi-trash(aria-label='Delete')
            span.label Delete

      pre
        code.language-html
          | &lt;div class="btn-group btn-group-action-xl" role="group" aria-label="Actions"&gt;
          |   ...
          | &lt;/div&gt;

      h4 Extra Extra Large
      p Collapse a button group based on the size of the screen using <code>.btn-group-action-xxl</code>

      .bd-example
        .btn-group.btn-group-action-xxl(role='group' aria-label='Actions')
          a.btn.btn-info(href='#' role='button')
            i.bi.bi-eye(aria-label='Show')
            span.label Show
          a.btn.btn-warning(href='#' role='button')
            i.bi.bi-pencil(aria-label='Edit')
            span.label Edit
          a.btn.btn-danger(href='#' role='button')
            i.bi.bi-trash(aria-label='Delete')
            span.label Delete

      pre
        code.language-html
          | &lt;div class="btn-group btn-group-action-xxl" role="group" aria-label="Actions"&gt;
          |   ...
          | &lt;/div&gt;

      h4 With Buttons

      .bd-example
        .btn-group.btn-group-action-lg(role='group' aria-label='Actions')
          button.btn.btn-info(type='button')
            i.bi.bi-eye(aria-label='Show')
            span.label Show
          button.btn.btn-warning(type='button')
            i.bi.bi-pencil(aria-label='Edit')
            span.label Edit
          button.btn.btn-danger(type='button')
            i.bi.bi-trash(aria-label='Delete')
            span.label Delete

      pre
        code.language-html
          | &lt;div class="btn-group btn-group-action-lg" role="group" aria-label="Actions"&gt;
          |   ...
          | &lt;/div&gt;
