extends ../layouts/2col.pug

block append config
  - var pageTitle = 'Range';
  - var pageSubtitle = 'Custom range inputs for consistent cross-browser styling';
  - var skipMenu = true;

block content
  .card
    .card-body
      h3 Overview
      p Create custom <code>&lt;input type="range"&gt;</code> controls with <code>.form-range</code>. The track (the background) and thumb (the value) are both styled to appear the same across browsers. As only Firefox supports “filling” their track from the left or right of the thumb as a means to visually indicate progress, we do not currently support it.

      .bd-example
        label.form-label(for='customRange1') Example range
        input#customRange1.form-range(type='range')

      pre
        code.language-html
          | &lt;label for="customRange1" class="form-label"&gt;Example range&lt;/label&gt;
          | &lt;input type="range" class="form-range" id="customRange1"&gt;

      h3 Disabled
      p Add the <code>disabled</code> boolean attribute on an input to give it a grayed out appearance, remove pointer events, and prevent focusing.

      .bd-example
        label.form-label(for='disabledRange') Disabled range
        input#disabledRange.form-range(type='range' disabled='')

      pre
        code.language-html
          | &lt;label for="disabledRange" class="form-label"&gt;Disabled range&lt;/label&gt;
          | &lt;input type="range" class="form-range" id="disabledRange" disabled&gt;

      h3 Min and max
      p Range inputs have implicit values for <code>min</code> and <code>max-0</code> and <code>100</code>, respectively. You may specify new values for those using the <code>min</code> and <code>max</code> attributes.

      .bd-example
        label.form-label(for='customRange2') Example range
        input#customRange2.form-range(type='range' min='0' max='5')

      pre
        code.language-html
          | &lt;label for="customRange2" class="form-label"&gt;Example range&lt;/label&gt;
          | &lt;input type="range" class="form-range" min="0" max="5" id="customRange2"&gt;

      h3 Steps
      p By default, range inputs “snap” to integer values. To change this, you can specify a <code>step</code> value. In the example below, we double the number of steps by using <code>step="0.5"</code>.

      .bd-example
        label.form-label(for='customRange3') Example range
        input#customRange3.form-range(type='range' min='0' max='5' step='0.5')

      pre
        code.language-html
          | &lt;label for="customRange3" class="form-label"&gt;Example range&lt;/label&gt;
          | &lt;input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3"&gt;
