extends ../layouts/2col.pug

block append config
  - var pageTitle = "Floating labels";
  - var pageSubtitle = "Form labels that float over your input fields";
  - var skipMenu = true;

block content
  .card
    .card-body
      h4 Example
      p Wrap a pair of <code>&lt;input class="form-control"&gt;</code> and <code>&lt;label&gt;</code> elements in <code>.form-floating</code> to enable floating labels with Bootstrap's textual form fields. A <code>placeholder</code> is required on each <code>&lt;input&gt;</code> as our method of CSS-only floating labels uses the <code>:placeholder-shown</code> pseudo-element. Also note that the <code>&lt;input&gt;</code> must come first so we can utilize a sibling selector (e.g., <code>~</code>).

      .bd-example
        .form-floating.mb-3
          input#floatingInput.form-control(type='email' placeholder='name@example.com')
          label(for='floatingInput') Email address
        .form-floating
          input#floatingPassword.form-control(type='password' placeholder='Password')
          label(for='floatingPassword') Password

      pre
        code.language-html
          | &lt;div class="form-floating mb-3"&gt;
          |   &lt;input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"&gt;
          |   &lt;label for="floatingInput"&gt;Email address&lt;/label&gt;
          | &lt;/div&gt;
          | &lt;div class="form-floating"&gt;
          |   &lt;input type="password" class="form-control" id="floatingPassword" placeholder="Password"&gt;
          |   &lt;label for="floatingPassword"&gt;Password&lt;/label&gt;
          | &lt;/div&gt;

      p When there's a <code>value</code> already defined, <code>&lt;label&gt;</code>s will automatically adjust to their floated position.

      .bd-example
        form.form-floating
          input#floatingInputValue.form-control(type='email' placeholder='name@example.com' value='test@example.com')
          label(for='floatingInputValue') Input with value

      pre
        code.language-html
          | &lt;form class="form-floating"&gt;
          |   &lt;input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com" value="test@example.com"&gt;
          |   &lt;label for="floatingInputValue"&gt;Input with value&lt;/label&gt;
          | &lt;/form&gt;

      p Form validation styles also work as expected.

      .bd-example
        form.form-floating
          input#floatingInputInvalid.form-control.is-invalid(type='email' placeholder='name@example.com' value='test@example.com')
          label(for='floatingInputInvalid') Invalid input

      pre
        code.language-html
          | &lt;form class="form-floating"&gt;
          |   &lt;input type="email" class="form-control is-invalid" id="floatingInputInvalid" placeholder="name@example.com" value="test@example.com"&gt;
          |   &lt;label for="floatingInputInvalid"&gt;Invalid input&lt;/label&gt;
          | &lt;/form&gt;

      h4 Textareas
      p By default, <code>&lt;textarea&gt;</code>s with <code>.form-control</code> will be the same height as <code>&lt;input&gt;</code>s.

      .bd-example
        .form-floating
          textarea#floatingTextarea.form-control(placeholder='Leave a comment here')
          label(for='floatingTextarea') Comments

      pre
        code.language-html
          | &lt;div class="form-floating"&gt;
          |   &lt;textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"&gt;&lt;/textarea&gt;
          |   &lt;label for="floatingTextarea"&gt;Comments&lt;/label&gt;
          | &lt;/div&gt;

      p To set a custom height on your <code>&lt;textarea&gt;</code>, do not use the <code>rows</code> attribute. Instead, set an explicit <code>height</code> (either inline or via custom CSS).

      .bd-example
        .form-floating
          textarea#floatingTextarea2.form-control(placeholder='Leave a comment here' style='height: 100px')
          label(for='floatingTextarea2') Comments

      pre
        code.language-html
          | &lt;div class="form-floating"&gt;
          |   &lt;textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"&gt;&lt;/textarea&gt;
          |   &lt;label for="floatingTextarea2"&gt;Comments&lt;/label&gt;
          | &lt;/div&gt;

      h4 Selects
      p Other than <code>.form-control</code>, floating labels are only available on <code>.form-select</code>s. They work in the same way, but unlike <code>&lt;input&gt;</code>s, they'll always show the <code>&lt;label&gt;</code> in its floated state. <strong>Selects with <code>size</code> and <code>multiple</code> are not supported.</strong>

      .bd-example
        .form-floating
          select#floatingSelect.form-select(aria-label='Floating label select example')
            option(selected='') Open this select menu
            option(value='1') One
            option(value='2') Two
            option(value='3') Three
          label(for='floatingSelect') Works with selects
      pre
        code.language-html
          | &lt;div class="form-floating"&gt;
          |   &lt;select class="form-select" id="floatingSelect" aria-label="Floating label select example"&gt;
          |     &lt;option selected&gt;Open this select menu&lt;/option&gt;
          |     &lt;option value="1"&gt;One&lt;/option&gt;
          |     &lt;option value="2"&gt;Two&lt;/option&gt;
          |     &lt;option value="3"&gt;Three&lt;/option&gt;
          |   &lt;/select&gt;
          |   &lt;label for="floatingSelect"&gt;Works with selects&lt;/label&gt;
          | &lt;/div&gt;

      h4 Disabled
      p Add the <code>disabled</code> boolean attribute on an input, a textarea or a select to give it a grayed out appearance, remove pointer events, and prevent focusing.

      .bd-example
        .form-floating.mb-3
          input#floatingInputDisabled.form-control(type='email' placeholder='name@example.com' disabled='')
          label(for='floatingInputDisabled') Email address
        .form-floating.mb-3
          textarea#floatingTextareaDisabled.form-control(placeholder='Leave a comment here' disabled='')
          label(for='floatingTextareaDisabled') Comments
        .form-floating.mb-3
          textarea#floatingTextarea2Disabled.form-control(placeholder='Leave a comment here' style='height: 100px' disabled='') Disabled textarea with some text inside
          label(for='floatingTextarea2Disabled') Comments
        .form-floating
          select#floatingSelectDisabled.form-select(aria-label='Floating label disabled select example' disabled='')
            option(selected='') Open this select menu
            option(value='1') One
            option(value='2') Two
            option(value='3') Three
          label(for='floatingSelectDisabled') Works with selects

      pre
        code.language-html
          | &lt;div class="form-floating mb-3"&gt;
          |   &lt;input type="email" class="form-control" id="floatingInputDisabled" placeholder="name@example.com" disabled&gt;
          |   &lt;label for="floatingInputDisabled"&gt;Email address&lt;/label&gt;
          | &lt;/div&gt;
          | &lt;div class="form-floating mb-3"&gt;
          |   &lt;textarea class="form-control" placeholder="Leave a comment here" id="floatingTextareaDisabled" disabled&gt;&lt;/textarea&gt;
          |   &lt;label for="floatingTextareaDisabled"&gt;Comments&lt;/label&gt;
          | &lt;/div&gt;
          | &lt;div class="form-floating mb-3"&gt;
          |   &lt;textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2Disabled" style="height: 100px" disabled&gt;Disabled textarea with some text inside&lt;/textarea&gt;
          |   &lt;label for="floatingTextarea2Disabled"&gt;Comments&lt;/label&gt;
          | &lt;/div&gt;
          | &lt;div class="form-floating"&gt;
          |   &lt;select class="form-select" id="floatingSelectDisabled" aria-label="Floating label disabled select example" disabled&gt;
          |     &lt;option selected&gt;Open this select menu&lt;/option&gt;
          |     &lt;option value="1"&gt;One&lt;/option&gt;
          |     &lt;option value="2"&gt;Two&lt;/option&gt;
          |     &lt;option value="3"&gt;Three&lt;/option&gt;
          |   &lt;/select&gt;
          |   &lt;label for="floatingSelectDisabled"&gt;Works with selects&lt;/label&gt;
          | &lt;/div&gt;

      h4 Readonly plaintext
      p Floating labels also support <code>.form-control-plaintext</code>, which can be helpful for toggling from an editable <code>&lt;input&gt;</code> to a plaintext value without affecting the page layout.

      .bd-example
        .form-floating.mb-3
          input#floatingEmptyPlaintextInput.form-control-plaintext(type='email' readonly='' placeholder='name@example.com')
          label(for='floatingEmptyPlaintextInput') Empty input
        .form-floating.mb-3
          input#floatingPlaintextInput.form-control-plaintext(type='email' readonly='' placeholder='name@example.com' value='name@example.com')
          label(for='floatingPlaintextInput') Input with value

      pre
        code.language-html
          | &lt;div class="form-floating mb-3"&gt;
          |   &lt;input type="email" readonly class="form-control-plaintext" id="floatingEmptyPlaintextInput" placeholder="name@example.com"&gt;
          |   &lt;label for="floatingEmptyPlaintextInput"&gt;Empty input&lt;/label&gt;
          | &lt;/div&gt;
          | &lt;div class="form-floating mb-3"&gt;
          |   &lt;input type="email" readonly class="form-control-plaintext" id="floatingPlaintextInput" placeholder="name@example.com" value="name@example.com"&gt;
          |   &lt;label for="floatingPlaintextInput"&gt;Input with value&lt;/label&gt;
          | &lt;/div&gt;

      h4 Input groups
      p Floating labels also support <code>.input-group</code>.

      .bd-example
        .input-group.mb-3
          span.input-group-text @
          .form-floating
            input#floatingInputGroup1.form-control(type='text' placeholder='Username')
            label(for='floatingInputGroup1') Username

      pre
        code.language-html
          | &lt;div class="input-group mb-3"&gt;
          |   &lt;span class="input-group-text"&gt;@&lt;/span&gt;
          |   &lt;div class="form-floating"&gt;
          |     &lt;input type="text" class="form-control" id="floatingInputGroup1" placeholder="Username"&gt;
          |     &lt;label for="floatingInputGroup1"&gt;Username&lt;/label&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;

      p When using <code>.input-group</code> and <code>.form-floating</code> along with form validation, the <code>-feedback</code> should be placed outside of the <code>.form-floating</code>, but inside of the <code>.input-group</code>. This means that the feedback will need to be shown using javascript.

      .bd-example
        .input-group.has-validation
          span.input-group-text @
          .form-floating.is-invalid
            input#floatingInputGroup2.form-control.is-invalid(type='text' placeholder='Username' required='')
            label(for='floatingInputGroup2') Username
          .invalid-feedback
            | Please choose a username.

      pre
        code.language-html
          | &lt;div class="input-group has-validation"&gt;
          |   &lt;span class="input-group-text"&gt;@&lt;/span&gt;
          |   &lt;div class="form-floating is-invalid"&gt;
          |     &lt;input type="text" class="form-control is-invalid" id="floatingInputGroup2" placeholder="Username" required&gt;
          |     &lt;label for="floatingInputGroup2"&gt;Username&lt;/label&gt;
          |   &lt;/div&gt;
          |   &lt;div class="invalid-feedback"&gt;
          |     Please choose a username.
          |   &lt;/div&gt;
          | &lt;/div&gt;

      h4 Layout
      p When working with the Bootstrap grid system, be sure to place form elements within column classes.

      .bd-example
        .row.g-2
          .col-md
            .form-floating
              input#floatingInputGrid.form-control(type='email' placeholder='name@example.com' value='mdo@example.com')
              label(for='floatingInputGrid') Email address
          .col-md
            .form-floating
              select#floatingSelectGrid.form-select
                option(selected='') Open this select menu
                option(value='1') One
                option(value='2') Two
                option(value='3') Three
              label(for='floatingSelectGrid') Works with selects

      pre
        code.language-html
          | &lt;div class="row g-2"&gt;
          |   &lt;div class="col-md"&gt;
          |     &lt;div class="form-floating"&gt;
          |       &lt;input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="mdo@example.com"&gt;
          |       &lt;label for="floatingInputGrid"&gt;Email address&lt;/label&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          |   &lt;div class="col-md"&gt;
          |     &lt;div class="form-floating"&gt;
          |       &lt;select class="form-select" id="floatingSelectGrid"&gt;
          |         &lt;option selected&gt;Open this select menu&lt;/option&gt;
          |         &lt;option value="1"&gt;One&lt;/option&gt;
          |         &lt;option value="2"&gt;Two&lt;/option&gt;
          |         &lt;option value="3"&gt;Three&lt;/option&gt;
          |       &lt;/select&gt;
          |       &lt;label for="floatingSelectGrid"&gt;Works with selects&lt;/label&gt;
          |     &lt;/div&gt;
          |   &lt;/div&gt;
          | &lt;/div&gt;
