extends ../layouts/2col.pug

block append config
  - var pageTitle = '3 Column Layout';
  - var skipMenu = true;
  - var skipBreadcrumbs = true;

block content
  .card
    .card-body
      = pageTitle
