extends ../layouts/2col.pug

block append config
  - var pageTitle = "3 Column Layout";

append scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/javascript.min.js", crossorigin="anonymous")
  script(src="js/flash.js")
  script.
    flashSuccess('Good job!')
    flashDanger('Danger')
    flashError('Error')
    flashWarning('Warning')
    flashInfo('Info')
    flash('Generic flash')

block flash
  div.alert.alert-success.alert-dismissible.fade.show.d-flex(role="alert")
    i.bi.bi-check-circle-fill.me-2
    div An example success alert
    button.btn-close(type="button" data-bs-dismiss="alert" aria-label="Close")

block content
  div.card
    div.card-body
      p
        | Alerts

      pre
        code.language-javascript
          | flashSuccess('Good job!')
          | flashDanger('Danger')
          | flashError('Error')
          | flashWarning('Warning')
          | flashInfo('Info')
          | flash('Generic flash')
