extends ../layouts/blank.pug

block append config
  - var pageTitle = "Error 500";

block content
  .container.text-center
    .row.align-items-center
      .col-lg
        img(src='/assets/images/500.jpg', alt='500')
      .col-lg
        h1.fs-1 Error 500
        h3 Internal server error
        a.btn.btn-primary(href='/index.html') Go to Home
