// Bootstrap helpers
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

// Variables
@import "frontsteps/variables";

// Global
@import "frontsteps/global/font";
@import "frontsteps/global/root";
@import "frontsteps/global/body";
@import "frontsteps/global/link";
@import "frontsteps/global/heading";
@import "frontsteps/global/img";

// Layout
@import "frontsteps/layout/header";
@import "frontsteps/layout/header/menu";
@import "frontsteps/layout/sidebar";
@import "frontsteps/layout/sidebar/menu";
@import "frontsteps/layout/main";
@import "frontsteps/layout/main/menu";
@import "frontsteps/layout/footer";
@import "frontsteps/layout/flash";

// Pages
@import "frontsteps/auth/login";
@import "frontsteps/auth/register";

// Bootstrap overrides
@import "frontsteps/bootstrap/overrides/card";

// Extensions to Bootstrap
@import "frontsteps/bootstrap/extensions/action_group";
@import "frontsteps/bootstrap/extensions/switch";
@import "frontsteps/bootstrap/extensions/table";
